[2016-03-06 16:55] VillageHubertChen opened #1 "V² Home Page"
![v2-home-hack](https://cloud.githubusercontent.com/assets/7278716/13603081/a431886e-e575-11e5-81c9-e87ee34d45c8.png)
# Layout

Please see a hacked version in the image above or

Follow the Layout of the Hero Page: → http://square.github.io/
# Content►Header
## Title Line
- **Left:** Phoenix Squared Logo — Modular PC Open Source Initiative
- **Right:** github.com/v-squared
## Tagline (centered)

C

[2016-03-07 07:39] VillageHubertChen commented on #1
I published final proposal in first comment.

[2016-03-07 08:34] VillageHubertChen opened #2 "Visuals V² Home Page"
# Title Graphics
- Mashup Graphics
- Desktop Parts → V²Case
- V²Case Form Factors: Mini, Behind Display, VESA Display, All-In-One
# Trailblazer Products
- [ ] HC: Create visuals from the rendered product photos
# For Maker
- [ ] HC: Create place holder from Star Trek blueprints. Gauge feedback to the blueprint approach. If positive we will create blueprints with V² products.
# For DIY
## V²Configu

[2016-03-08 09:01] VillageHubertChen commented on #1
Added to specs:
- Add Organization:  1) About 2) Contributing 3) Blog
- Change Hero Products → Trailblazer Products

[2016-03-08 09:21] VillageHubertChen commented on #1
## Useful Reference for writing on the Standard part later:

### Open Source
- https://opensource.org/
- http://www.oshwa.org/definition/
- https://opensource.org/osr

### About us → https://opensource.org/about
- History
- Board
- Trademark & Logo

[2016-03-08 13:37] VillageHubertChen commented on #1
Updated a hacked version of the Hero Page in Card.

[2016-03-10 05:42] VillageHubertChen commented on #1
# Added Campaigns

Since we now want to push a ViCase campaign we added it to Home Page.
→ V-Squared/v2-How-to-Online-Shop#6

[2016-03-10 07:39] VillageHubertChen commented on #1
# Streamlined Section Titles

Restructured the previous sections: "Community & Shops" and "Marketing & Plans". This become necessary after adding Campaigns.

[2016-03-10 08:41] VillageHubertChen commented on #1
# Rapid Prototyping Page

https://v2homepage-old-lukaschen.c9users.io/

[2016-03-11 05:01] LukasChen opened #3 "Add README.md"
- [x] Write content in README.md

[2016-03-11 09:02] VillageHubertChen commented on #1
# First Version is up
- http://v-squared.github.io/
- **Finished:** Layout, Animation, Testing on all devices, Text, Table of Contents
- **Working On:** Images, Restructuring of Repositories, Links to Repositories

[2016-03-11 09:08] VillageHubertChen commented on #1
# Usability Reports

We tested on many devices, OS, browsers and screen sizes. As long as the browser is not too outdated it all worked fine. Sascha especially liked that tapping the images showed additional text, when using is Windows 10 mobile. He could use it with one hand. Also testing on Android 4 with one year old browser as well as iPhone 4 showed the site worked fine.

[2016-03-11 09:29] VillageHubertChen opened #5 "Restructure Plan & Org Repos to fit new V² Home Page"
- [ ] Restructure Plan
  - [x] Create → [Page Structure for V²►Plan](https://github.com/V-Squared/v2-Plan/issues/29)
  - [x] @LukasChen Initialize Repo for Jekyll
  - [x] Create all empty Articles according to → [Page Structure for V²►Organization](https://github.com/V-Squared/v2-Plan/issues/29)
  - [ ] Fill Articles with initial content
- [ ] Restructure Organization
  - [x] Create → [Page Struct

[2016-03-11 10:26] VillageHubertChen opened #6 "Add Links on V²Home to Repositories"
# Link Types
- GitHub (mandatory, link to the repository on V²GitHub)
- Website (optional, in case the repository has a gh-pages branch)
- App (optional, in case there is a working app in the gh-pages)
# Hero Page
- http://square.github.io/
# Dependencies
- #5 need to be completed first
# Tasks
- [x] HC: Write initial card
- [x] @LukasChen Add three link types to HTML / JSON
- [x] @LukasChen Add a

[2016-03-11 16:04] VillageHubertChen commented on #1
The Initial V²Home Page is working and published now. To complete this project → #2 , #3 , #5 , #6

As such this Issue can be closed now :-)

[2016-03-11 16:04] #1 closed, assigned to LukasChen

[2016-03-12 02:41] VillageHubertChen opened #7 "Add smooth scrolling to V²Home Page"
When clicking on the links in the Table of Contents the page jumps to the link. Please enhance the user's experience so that it smoothly scrolls there. This way he knows he got there by page scroll down and as such he understands he can go back with page scroll up.

[2016-03-12 04:09] VillageHubertChen opened #8 "Add Progress Batch to V²Home Page"
# User Story

As a **new Reader of the V² Home Page** I was originally put off that most of the places I navigated to were not very developed and almost wanted to abandon V². But now after the introduction of _Progress Batches_ I get it: This is an Open Source repository for the Community to both create and to look up Know How. If I am in the business of looking up Know How, I know that I will fin

[2016-03-13 04:36] VillageHubertChen opened #9 "Restructure Marketing Repository"
# Purpose
- Build the first working Repository + Site Twin. Get experience for all others
- Build first round trip experience from V² Home Page to V² Section and back. Experience how clean is building? How consistent is user experience?
- Extract Articles from Issues
  - Can we get a better authoring experience?
  - We need Articles in Code section of GitHub to use GitHub Flow for contribution!

[2016-03-14 04:20] VillageHubertChen opened #10 "Add Abstract to Home Page"
# First Draft of Abstract

This is an Open Source, Non-Profit Organization on GitHub that creates, compiles and catalogs projects, know-how articles, standards, blue prints and applications for the purpose to make Mini and All-In-One Computer modular and ugradable. For the benefit of the individual DIY person as well as the Industry as a whole. We have published what we have under CC and MIT Licen

[2016-03-14 05:47] VillageHubertChen commented on #8
# Find shorter Words for:
- Incubating
- Developing
- Beta
- Production

# Shorter Words for Stages:
- Create
- Develop
- Beta
- Make

# Tasks
- [x] Find shorter words
- [x] Test if they are short enough

[2016-03-14 08:32] VillageHubertChen opened #11 "Add Navigation Bar v1"
# Toolbar Menu Items
- V² Logo -> Home
- For Maker
- For DIY
- Products
- Social Media
- Marketing
- Organization
- Misc
# Placement / Layout Changes
- Top of Page
# Integration of Menu Bar with existing page
1. Implement #10 (Add Abstract to Home Page) first
2. Place Toolbar
3. We experience the page and we discuss how to go from here
# Breadcrumbs

In the final design we should find a place for

[2016-03-14 11:27] VillageHubertChen commented on #8
# New Progress Bar Implementation
- Show stages numbered in circles: 1, 2, 3, 4
- Each stage has two stages: "Active" = Tangerine ; "Completed" = V² Blue
- Illustration more demonstrates accomplishment of stages
  ![](https://s-media-cache-ak0.pinimg.com/736x/f0/22/65/f022655c809d341285d73909a04091d5.jpg)
- http://codepen.io/villagelukaschen/pen/reMZaN

# Tasks
- [x] HC spell out better solution a

[2016-03-15 07:37] #7 closed, assigned to LukasChen

[2016-03-15 11:45] #10 closed, assigned to LukasChen

[2016-03-15 12:16] VillageHubertChen commented on #1
# Reference Information on Transitions
- http://getuikit.com/docs/overlay.html#overlay-transitions
- For the text scrolling in on hover over square image

[2016-03-15 13:37] VillageHubertChen commented on #8
Yeah! :tada:

[2016-03-15 13:38] #8 closed, assigned to VillageHubertChen

[2016-03-16 02:07] VillageHubertChen commented on #3
- [x] @LukasChen Review the README.md. If pass, close this issue, if you have change request, please let me know.

[2016-03-16 03:31] VillageHubertChen opened #12 "Add Jumbotron to V² Home Page"
# Adding Jumbotron

With adding Abstract and Navigation Bar the top of the Home Page became to crowded. Adding a Jumbotron will fix that.
# Reordering Sections
## Old Section Order & Section Titles
1. **For Maker** Standards, Blueprints, Development Kits, Developer Stories, User Stories
2. **For DIY** PC Know How & Tools
3. **Trailblazer Products** V² Standards turned into real Products
4. **Socia

[2016-03-16 04:18] VillageHubertChen commented on #12
# Added Open Source Compliance Section

Upon Lukas' request and demoed hero page, we added the Open Source Compliance Section. See above.

[2016-03-17 11:49] #11 closed, assigned to LukasChen

[2016-03-17 13:16] LukasChen commented on #3
I have Read the README.md :ok_hand:

[2016-03-17 13:16] #3 closed, assigned to LukasChen

[2016-03-17 13:36] VillageHubertChen commented on #12
# Results of first Review:

## Error List:
- [x] LC: New Tagline "Trailblazer Products"
- [x] LC: New Tagline "For Maker"
- [x] LC: New Tagline "For DIY"
- [x] LC: New Tagline "Social Media"
- [x] LC: New Tagline "Marketing"
- [x] LC: New Tagline "Misc"
- [x] LC: Quotes in Tooltip for GitHub was missing

[2016-03-17 13:38] VillageHubertChen opened #13 "Add Open Source Logos"
## Hero Design
- **URL:** http://uber.demo.joomlart.com/index.php/blocks/clients
- **Style:** Clients - Image Gray
- **Key Features**
  - gray logo at first
  - hover shows logo with their colors and tool tips as per above
# Reference
- http://v-squared.github.io/
## CC-BY-4.0 Logo

![](https://i.creativecommons.org/l/by/4.0/88x31.png)
- http://creativecommons.org/choose/
## Open Source Initiative

[2016-03-17 13:48] VillageHubertChen opened #14 "Add favicon to V² Home Page"
- [ ] @LukasChen Add favicon to V² Home Page

[2016-03-17 14:26] VillageHubertChen commented on #14
That was fast! Good job :smile:

[2016-03-17 14:26] #14 closed, assigned to LukasChen

[2016-03-17 15:47] VillageHubertChen opened #15 "Contributing is twice in V² Home Page"

[2016-03-17 15:59] VillageHubertChen opened #16 "Add Tooltips to Menu and Table of Contents"
- [HC] Write Tooltips for Menu Items and Table of Contents Links

[2016-03-18 07:13] LukasChen commented on #12
Done :tada:

[2016-03-18 07:13] #12 closed, assigned to LukasChen

[2016-03-20 05:30] VillageHubertChen opened #17 "Full Review Home Page"
Check and give feedback to:
- [ ] Easy enough entry into the world of V²
- [ ] Round trip V² Home Page ↔ Marketing Home Page
  - Via Navigation Bar
  - Via Section Title within the V² portfolio
- [ ] Off Canvas Menu for small window width
- [ ] Off Body Table of Contents
- [ ] Understandably of: Speed of Open Source Standards? Is speed the Message here? Can we visualize speed better?
- [ ] Spell c

[2016-03-20 08:15] VillageHubertChen opened #18 "Accordion Portfolio in V²Home Page"
# Benefits
- Easier to navigate on a mobile (scrolling is too long with home page as is)
- Easier to keep Overview on Mobile
  It also will improve to keep an overview on big screen
- Same code as with V²Configurator
- This type of folding navigation can become one of our trademarks
- On big screen it can be used in harmony with Site Bar Table of Contents
# Features
- **Help:** Explain how it work

[2016-03-20 10:20] georgillies commented on #18
+1

[2016-03-21 02:42] VillageHubertChen opened #19 "Add Sidebar Navigation"
# User Stories

As a **new visitor** to V² Home Page I use the Navigation Side Bar for two Purposes: **1)** Remind myself of all Sections that put together make up V² **2)** quickly jump to the section of Interest **3)** I noticed that progress of scrolling down means the tangerine blob moves forward too. This teaches me to read the progress bars under the Folio Images.

As a **returning visitor**

[2016-03-25 03:27] VillageHubertChen commented on #19
# Proposal to solve half-cut titles

## Problem:

At small screen with the line break of the top navigation bar covers half of the head lines.

## Proposed solution:

Height of top navigation bar and height of fonts are chosen to support two rows. Once screen width gets so small to require 3 rows it is turned off. The Accordion Navigation → #18 will continue to serve this navigation function. Now

[2016-03-27 02:54] VillageHubertChen opened #20 "Rewrite V² Home Page to fit "All pieces of the puzzle" Metaphor"
# Metaphor
## Making V² Modular PC Mainstream
### Delivering all pieces of the puzzle

V² is much more than "The Missing Standard" for Mini and All-In-One Computer. Hover (tab) the puzzle pieces to explore how each contributes to the whole.
# All pieces of the Puzzle
## The Missing Standard

_All missing standards to find parts, build, upgrade and repair a modular Mini / All-In-One PC._
### V² Par

[2016-03-27 02:57] VillageHubertChen opened #21 "How the V² Home Page works"
- [x] HC: Break this Article into 4 Issues and reference them
- [x] HC: Write → [User Story exploring V² Home Page](#user-story)
# Key Parts of V² Home Page
1. Site Navigation Bar → #36
2. Introduction to V² → #23
3. The Big Picture of V²  → #35
4. Footer with Site Map → #26
# User Story exploring V² Home Page <a name="user-story"></a>

As a **Brand New Visitor to V² Home Page** I started reading

[2016-03-27 03:36] VillageHubertChen opened #22 "Add "All pieces of the puzzle""
# Introduction
## The idea

With this new chapter we want to express two messages:
1. Our target is to make V² Modular PC Mainstream
2. That we deliver everything that is needed to reach this goal
## Metaphor

We deliver all pieces of the puzzle. Represented by a Jigsaw puzzle, in which each peace represents on of the 9 sections of our Home Page. Accordingly we have rewritten the Home Page, so tha

[2016-03-27 05:05] VillageHubertChen opened #23 "Write Introduction to V² (Features of V² Home Page)"
- [x] HC: Write copy for Introduction
- [x] @LukasChen Transfer copy to V² Home Page. Add the visuals that we already have. Leave the visuals not ready yet.
- [x] @LukasChen  Add a Layout feature that the Introduction is separate from the Portfolio part of the Web Site. Maybe by making the horizontal navigation bar go all across the page, passing into the margin and by giving it a thick top line?

[2016-03-27 10:37] VillageHubertChen opened #24 "Research which License"
# Why research again

Reviewers of the current approach using MIT License alongside the CC-BY-4.0 License worry that the MIT License is too free and may allow strategies against V². Reviewers requested that at the very least the licensee must attribute V² when using V² Materials. MIT License is missing attribution. Some reviewers preferred additionally to have the "share alike" aka "copyleft" feat

[2016-03-27 10:38] #24 closed, assigned to VillageHubertChen

[2016-03-27 10:40] VillageHubertChen commented on #13
HC: Remove MIT Logo → #24

[2016-03-27 10:48] VillageHubertChen commented on #13
Added URLs to Logos

[2016-03-27 12:24] VillageHubertChen commented on #20
- [x] HC: Add "The Missing Standard Section"
- [x] HC: Merge "Spreading the Word" and "Spreading the Products"

[2016-03-27 12:40] VillageHubertChen opened #25 "Make everything square"
# Motivation:
- The name of our Organization is V-Squared
- Our Trailblazer Product is in the shape of a square with rounded corners
- Our Folio Images are square
# What to make square with rounded corner
- Stages of Progress Bar under Folio Images
- Stages of Navigation Sidebar
- Folio Images and its border
- Illustration of Pieces of the Puzzle
# Tasks
- [x] HC write specs
- [ ] @LukasChen Make

[2016-03-27 13:07] #25 closed, assigned to LukasChen

[2016-03-28 04:48] bcaswelch commented on #19
Not sure the top navigation is working, only sits on the side.

Really like the icons that stay when on a very small window.

I can test on chrome, (1920*1080 screen), mobile phone, I guess microsofts new internet explorer

Love the color scheme! Might explore having the highlited page be a bit more apparent; the bold white blends in a bit too much (edit: Ah! so theres a nice blue highlight on the

[2016-03-28 04:53] VillageHubertChen commented on #19
I do not get your feedback. Maybe this is a case where a Skype call with a shared screen and you showing with your cursor situations that you like / dislike will be faster. I then will transcribe it into feedback that Lukas know what to do with it.

[2016-03-28 07:50] VillageHubertChen commented on #19
# Redo Testing
- [x] @bcaswelch Redo testing, this time with correct web site: http://v-squared.github.io/ Report test results in description of issue above.

[2016-03-28 10:33] VillageHubertChen commented on #20
I reopened the issue. Lukas: You overlooked that still this task was not finished: Update the status bar for each item. Additionally the review of Georg create a Change Request List.

[2016-03-28 10:38] VillageHubertChen commented on #19
# Add short-names to Side Navigation
- [x] @LukasChen  Add a "shortName" property to JSON for the 9 Sections. Use the following:
1. Standard
2. Products
3. Makers
4. DIY
5. Retail
6. Spreading
7. Apps
8. Plan
9. Organization

[2016-03-28 10:40] VillageHubertChen commented on #19
# Change the Top Navigation Bar
- [x] @LukasChen Change the top navigation bar accordingly!

[2016-03-28 10:49] VillageHubertChen commented on #20
# Change Requests (Review by Georg)
- [x] @LukasChen Change the following entries in JSON

### Better Cash Flow & Availability

In order to keep enough configurations of traditional Mini and All-In-One PCs in stock to be attractive to the buyer the Retailer needs significant cash flow. Instead V² Mini and V² ALl-In-One PC require only a fraction of that cash flow. Thanks to their modular nature th

[2016-03-28 10:55] VillageHubertChen commented on #23
# Feedback Georg: Add a time line ...

... showing:
1. How far have we come already
2. Show all the things that are still going to happen
3. Make it an interactive timeline, same as the other Mini Apps
4. It must be clear we are pre-ordering in May and shipping in June
5. Make it easy to move the "today" cursor

[2016-03-28 11:00] VillageHubertChen opened #26 "Add Footer to V² Home Page"
- [x] @LukasChen Add Footer as per meeting and description
- [x] @LukasChen Fix Bug as described below
# Footer (Feature)

Add a footer as used in many web sites, which is showing all links to all sections of the web site. We only can do this after we have restructured all the repositories and have created all home pages for each section.
# Fix Bug: Can not click Organization → Fixed

When using t

[2016-03-28 12:43] LukasChen commented on #20
Done :tada:

[2016-03-29 02:23] bcaswelch commented on #19
-In fullscreen mode (chrome desktop, 1080 width) The sidenav doesn't highlight "Organization" even if you scroll it. Shows "Plan" as being hilighted.

-On mobile, "Organization" and "Plan" are highlited if you click on "Organization". "Plan" highlights itself and "Apps". I'll send you an image of what the error looks like (happens to other pages as well).

-Might make each section on the mobile la

[2016-03-29 02:45] VillageHubertChen opened #27 "Navbar Rendering Issue on Mobile"
# Two Bugs

![nav-bar-problem-on-mobile](https://cloud.githubusercontent.com/assets/7278716/14096579/922b0ea6-f59c-11e5-8cd2-f69f6595576c.png)
## Bug 1: Cut Navbar on Mobile

Top of Navbar is cut, see the screen shot
## Bug 2: Double Highlight

Sometimes during navigation two sections are highlighted the same time, see screen shot
# Tasks
- [x] @LukasChen Reproduce issue in Simulation
- [x] @Lukas

[2016-03-29 03:17] VillageHubertChen opened #28 "Better separation of Sections in Home Page"
# Problem

When fast scrolling the [V² Home Page](http://v-squared.github.io/) it is easy to overlook when changing sections.
# Suggested solution

Bobby, please report here your ideas or trigger chat to brainstorm
# Tasks
- [x] @bcaswelch Report issue
- [x] HC: Reproduce issue: Agreed!
- [ ] @bcaswelch Suggest a solution, if you have no idea, start chat in comments on this issue, trigger me on sk

[2016-03-29 03:23] VillageHubertChen opened #29 "Make new name for organization"
# Original Post from Bobby in Issue #19

Make new name for organization? Either on top nav or side nav so people don't get confused which is which.
# Tasks
- [ ] @bcaswelch Please elaborate. I do not understand what you mean. If you have example, please give. If you want to brainstorm, trigger me on skype or write comment.

[2016-03-29 03:27] VillageHubertChen commented on #19
# Reply to above Feedback & Bug Report
1. Organization can not be selected: Known Issue → #26
2. Double Highlight in Navbar: Fixed in → #27
3. Agree. We need to work on that → #28
4. I do not understand. I created new Issue. Please explain there → #29
5. Thank you! Still lots to do, but we like where it is going. Special thanks for all your feedback and bug reports.

# Please close your open tasks

[2016-03-29 03:35] VillageHubertChen commented on #27
Issue was closed by accident when Lukas attached Issue number to commit. I reopened it. We need Bobby's confirmation that issue is fixed. Then he will close it.

[2016-03-29 07:24] VillageHubertChen commented on #29
Hi @bcaswelch , you checked your task to elaborate what you mean by your original statement: "Make new name for organization? Either on top nav or side nav so people don't get confused which is which." But I can not find any elaboration on my question, what do you mean by that? Please add additional information.

[2016-03-29 07:25] #27 closed, assigned to bcaswelch

[2016-03-30 00:48] #19 closed, assigned to bcaswelch

[2016-03-30 01:06] VillageHubertChen commented on #20
Hi Lukas,

Thank you for you diligent work and letting me know. Sadly, some mistakes got in and you did not caught them. Please check out the section: "Spreading the Word & Products".

It is very important on a work like this, that you put your final work on one side and the original spec on the other and then compare side by side, piece by piece. This is tedious but necessary to ensure no errors

[2016-03-30 07:51] VillageHubertChen opened #30 "Timeline in Introduction"
# Heading and Copy

→ #23
# Coding Interaction with SVG [LC]
## Tooltips
- Works the same as with Puzzle SVG → #22
- HC will specify the Tooltips
## Pan and zoom control
- [Pan and zoom control](http://www.petercollingridge.co.uk/interactive-svg-components/pan-and-zoom-control)
## SVG graphics
- it will be very wide and not high. This is why we need zoom and pan for mobile.
- SVG graphics provided

[2016-03-30 08:48] VillageHubertChen opened #31 ""Usable Work in Progress" Illustration"
# Specs of Illustration
- Take Snapshot of V² Configurator
- Add call outs to explain
  - Link to GitHub Repository
  - Link to WebSite
  - GitHub Batch, list of stages, tool tip available
  - Development Progress, list of stages, tooltip available
- Create as PNG

[2016-03-30 16:24] VillageHubertChen commented on #20
Hi @LukasChen , great job on your second double checking. All was perfect this time! :congratulations:

[2016-03-30 16:24] #20 closed, assigned to LukasChen

[2016-03-30 19:42] bcaswelch opened #32 "Side Bar Navigation and Titles"
Showed my friend the website and she had a couple recommendations/observations.

**Side Bar Navigation**

When first pulled up fullscreen, didn't realize it appeared when she scrolled down. Thinking about it, it is cut away from everything else on the page and off in a corner. Might look at making it a bit bigger/noticeable.

**Text Title**

Felt the titles were too small compared to everything el

[2016-03-31 04:56] VillageHubertChen commented on #32
# Improving Side Bar Navigation & Puzzle Titles

Hi @bcaswelch , we agree. After discussing with Lukas these are our proposed changes:

## Improving Side Bar Navigation
1. Place the Side Bar Navigation to top left of the page. We show it always. The eye scan pattern is to begin with top left of page, as such it will find the Side Bar Navigation and no longer overlook it.
2. Add one more entry: "In

[2016-03-31 05:46] bcaswelch commented on #32
1. My friend and I liked it on the right side because its nearby the page scroller and where people naturally go to move on a website.
2. Would making the navigation bigger work? Having it take up more of the side would make it much more obvious.

[2016-03-31 06:30] VillageHubertChen commented on #32
1. I agree on the your reasoning to to place it to the right to be close to scroll bar. But due to programming limitations we then only can place it to the utmost right, which might give a huge margin between right side of body and left side of Navigation Side Bar. This is exactly the reason why it was overlooked. Lets see how above solution feels when done. It may feel right, it may not.
   1. Si

[2016-03-31 06:53] VillageHubertChen commented on #22
# Final choice on Tooltip Method

After lots of testing, we are going with Peter Collingridge's → http://www.petercollingridge.co.uk/book/export/html/437#node-433. His example can be converted to Angular and once done it is easy to apply tooltips to future SVG info graphics.

[2016-04-01 02:15] VillageHubertChen commented on #32
@LukasChen

Great job! :heart:

## Changes in Styling

I increased margins and padding in the file: _portfolio.scss in .portfolio-section {

### Before:

[code]

### After:

[code]

## Understanding how gh-pages work
1. I understand it correctly that GitHub:
   1. does not store the finished html and css in the repository?
   2. edits are done in jekyll files and .scss files directly? Once complet

[2016-04-01 02:25] VillageHubertChen commented on #32
# Request for final review

@bcaswelch Please check and advise if all is well now and if I can close this issue?

I just found that we overlooked to make the portfolio section title bigger. Will be done before we close the issue.

[2016-04-01 03:11] bcaswelch commented on #32
Looks good! Having it there when the page opens makes it much more noticeable.

I'm guessing its just a bug but the top navigation bar doesn't appear when on a desktop medium size window.

[2016-04-01 04:03] VillageHubertChen commented on #32
@bcaswelch

Thanks for your feedback. So we will close the issue once Lukas completes the open tasks :-)

# Behavior of top Navigation Bar

## Top Navigation Bar

![menu-on-window-just-wide-enough](https://cloud.githubusercontent.com/assets/7278716/14197445/0cb020b0-f801-11e5-8ba5-247b6e8bf8bb.png)
The Top Navigation Bar on a window that is just wide enough to show it

## Open Menu Icon

![menu-on

[2016-04-01 04:12] bcaswelch commented on #32
![screenshot 57](https://cloud.githubusercontent.com/assets/16950279/14197585/983f2804-f795-11e5-9e0c-ff0c472a2561.png)

I wasn't the top navigation bar before (seemed to fix itself though).

Ah I did miss the menu icon! Guess I usually just scroll past the first page without noticing the opening. Like it though.

The issue is resolved as far as I can tell.

[2016-04-01 04:28] VillageHubertChen commented on #32
@bcaswelch

Thanks for your reply. About the behavior of the Main Menu:
1. On big screen is sticky
2. On middle sized width it is not sticky to save screen estate
3. The Page Navigation bar is sticky on middle and small width to assist in page navigation. If you want to use site navigation, you have to scroll to the very top to see the Main Menu again.

I will close this issue once Lukas worked do

[2016-04-01 06:57] VillageHubertChen commented on #26
# Finalizing the footer

## Great Job

@LukasChen I like your implementation as of April 1st very much. All that needs to be done is to replace Lorem Ipsum with final footer content.

## Final footer content
- [x] Portfolio Section titles as column titles
- [x] Order the columns the same way as in the Side Navigation Bar
- [x] Portfolio titles as entries in columns
- [x] Use flex box that as many

[2016-04-01 09:05] VillageHubertChen commented on #26
# Legal Section in Footer

## Layout
- Separation lines as in [hero footer](http://www.avira.com/en/free-antivirus-windows)
- Placement: Last Section
- Three Flex Boxes for Three Licenses

## Blueprint License

## Standard License

CC-BY-SA-4.0
![](https://i.creativecommons.org/l/by-sa/4.0/88x31.png)
If you want to develop your own computer standard, you can use V² Standard as long as you include

[2016-04-01 09:13] VillageHubertChen commented on #26
# Social Section in Footer
- Separation lines as in [hero footer](http://www.avira.com/en/free-antivirus-windows)
- Social Media Icons: Facebook, YouTube, Twitter, GitHub Issues
- Placement: First Section
- [ ] @LukasChen Implement, then trigger HC for review

[2016-04-01 09:54] VillageHubertChen opened #33 "Closing V² Home Page"
# Page Structure
1. Site & Page Navigation
2. Jumbotron
3. Feature Intro
4. Portfolio
5. Footer
# Site & Page Navigation
- The Side Bar Navigation is removed. We love it, but it clashes with Section Heading background
- Site and Page Double bar: [Hero Page](http://www.avira.com/en/avira-phantom-vpn)
  - 1st Row: Site Navigation w/o Mega Menu
  - 2nd Row: Page Navigation with Breadcrumbs:
- Behavio

[2016-04-07 06:16] VillageHubertChen commented on #32
In the end we removed the Side Bar Navigation. We loved its function, we loved its design. But it clashed with newly introduced wide backgrounds to portfolio titles and it made Navigation too complicated:
1. Side Bar Navigation, that only shows when page width is > 1500 px
2. Top Bar Navigation, that only shows when scrolled down and page is bigger > 600 px
3. Accordion Navigation, always availabl

[2016-04-07 06:16] #32 closed, assigned to LukasChen

[2016-04-21 03:50] #22 closed, assigned to LukasChen

[2016-04-21 03:51] LukasChen opened #34 "Add Links of the Page Sections in the Puzzle Tooltips"

[2016-04-25 08:42] VillageHubertChen commented on #34
# Change Request after Review
- [x] Change Link Color to Highlight 2
- [x] Fix bug of wrong position of tooltip when window width is minimal
- [x] Add arrow → in front of link
- [x] Check that it works on Tablet

[2016-04-25 08:52] VillageHubertChen commented on #22
# Create v2-Tooltip Repository
- [x] Create Repository → https://github.com/V-Squared/v2-Tooltip
- [x] Write Readme with basic instructions → https://github.com/V-Squared/v2-Tooltip/blob/master/README.md

[2016-04-25 15:22] VillageHubertChen commented on #29
I closed this issue as Bobby never answered the question of what he meant ...

[2016-04-25 15:22] #29 closed, assigned to bcaswelch

[2016-04-25 15:24] VillageHubertChen commented on #15
Bug was fixed when rewriting and restructuring the home page.

[2016-04-25 15:24] #15 closed, assigned to VillageHubertChen

[2016-04-26 01:38] VillageHubertChen opened #35 "The Big Picture of V² (Part of V² Home Page)"
- [x] LC: Research if Accordion is the best way to present the long page content of _Pieces of V²Puzzle_ → [Research](*research)
- [x] HC: Find Tabs in → [Angular-UI-Bootstrap►Tabs](https://angular-ui.github.io/bootstrap/#/tabs)
- [x] HC: Update #21 (How the V² Home Page works)
- [x] HC: Read #18
- [x] HC: Read #22 (Add all pieces to the Puzzle)
- [x] HC: Write → [Tab Features](#tab-features)
- [x

[2016-04-26 01:46] VillageHubertChen commented on #34
All done :tada:

[2016-04-26 01:46] #34 closed, assigned to LukasChen

[2016-04-26 03:32] VillageHubertChen commented on #18
# Changing to Tabbed Slide Show

We are abandoning the Accordion Navigation after we implemented the Integration with the Puzzle. The reason is that the User Experience was too confusing due to too much scrolling and searching. For more details on this problem and the solution to it, please refer to →  #35  Changing Accordion to Tabbed Slide Show

[2016-04-26 03:32] #18 closed, assigned to LukasChen

[2016-04-26 04:06] VillageHubertChen opened #36 "Site Navigation Bar"
- [x] HC: Define Menu Items
- [x] HC: Define Tooltips
- [x] LC: First Implementation
- [x] LC: Change "Standard" → "Standards"
- [x] LC: Add the Tooltips as per description below
# Key Parts of V² Home Page
1. Site Navigation Bar → #36 (This Issue)
2. Introduction to V² → #23
3. All Pieces of V² → #35
4. Footer with Site Map → #26
# Menu Items
1. V² Logo → V² Home Page
2. Standards
3. Products
4.

[2016-04-26 07:28] VillageHubertChen commented on #35
# Feedback from Sascha:

Rename "All pieces of the V² Puzzle" → "The Big Picture of V²"

[2016-04-26 07:35] VillageHubertChen commented on #21
# Feedback from Sascha:

Rename "All pieces of the V² Puzzle" → "The Big Picture of V²"

[2016-04-26 07:37] VillageHubertChen commented on #21
# Closing

Although the Home Page is not finished yet, this issue is about "How the V² Home Page works". This description is finished and can be referred to from the open issues on this topic.

[2016-04-26 07:37] #21 closed, assigned to VillageHubertChen

[2016-04-26 07:54] VillageHubertChen opened #37 "Fix Bug: Broken Tooltips in V ²Home Page"
- [x] LC: Fix so that the Tooltips for Progress and GitHub Status are working again.
## Additional Info

You said you disabled the old method with UI Kit. So enable your new v2-Tooltip :-)

[2016-04-27 00:37] VillageHubertChen commented on #16
Closed this Issue after moving its content → #36

[2016-04-27 00:37] #16 closed, assigned to LukasChen

[2016-04-27 01:09] VillageHubertChen opened #38 "Draw Illustration: "V² Big Picture" aka "V² Puzzle""
- [x] Read #22 (Add all pieces to the Puzzle)
- [x] Read #35 (The Big Picture of V² (Part of V² Home Page))
- [x] BC: Transfer the Puzzle drawing from Paper and Pencil to Inkscape (v01)
  - [x] upload to: → [V-Squared.github.io/images/illustrations/v2-big-picture/
    ](https://github.com/V-Squared/V-Squared.github.io/tree/master/images/illustrations/v2-big-picture)
  - upload all files you used t

[2016-04-27 01:27] VillageHubertChen commented on #33
The purpose of this issue was to guide us to crate the V² Home Page into a stage where its design intent is directly recognizable and no longer needs description to tell the developer where we want to go. This has been accomplished. As such we are closing this issue.

[2016-04-27 01:27] #33 closed, assigned to LukasChen

[2016-04-27 05:35] VillageHubertChen opened #39 "Redesign Portfolio Section of V² Home Page for Tabs"
- [x] HC: Specify new design
- [x] Implement new design
## Reducing Vertical Space:

**Key Idea:** Everything is moved into Square:
1. **Square Title** is moved as overlay into top of square, aligned from left 20 px, clearance from top square border of: 30 px
2. **Link to GitHub and Site** is moved into Overlay Text. It is always placed on bottom of overlay, no matter if overlay text is short or l

[2016-04-29 09:55] #36 closed, assigned to LukasChen

[2016-04-29 15:22] VillageHubertChen commented on #36
Good job :-)

[2016-05-04 13:30] VillageHubertChen opened #40 "Fix Bug: Update links from Puzzle to Tabs"
- [x] Make link in tooltips of puzzle work

We changed the portfolio of all pieces of the puzzle from one long page to 9 tabs. Consequently the anchors changed too. In turn we need to change the links in the tooltips of the puzzle.

[2016-05-05 07:46] #37 closed, assigned to LukasChen

[2016-05-05 09:57] VillageHubertChen commented on #23
# Feedback Georg:
- New structure of Home Page works well
- New Introduction text works
- Layout ideas seem good. Need to see final implementation though.

[2016-05-05 10:06] VillageHubertChen opened #41 "Epic►004►Parent►Hackathon V² Home Page"
# Tasks already Completed
- [x] Cleaning up to park v2-Tab Repository. Leave Issues Open
- [x] @LukasChen Cleaning up to park v2-Tab Repository. Leave Issues Open
- [x] Create content of V² Home Page Features (Meeting with Georg) → #23
- [x] Finish writing on Features
- [x] @LukasChen  Prepare a list of Material Design Template
- [x] HC, LC: Pick a Material Design Template
- [x] @LukasChen Adapt M

[2016-05-05 10:25] VillageHubertChen commented on #40
Tested and works.

[2016-05-05 10:25] #40 closed, assigned to LukasChen

[2016-05-06 02:48] VillageHubertChen commented on #35
All done. :tada:

[2016-05-06 02:48] #35 closed, assigned to LukasChen

[2016-05-06 02:56] VillageHubertChen opened #42 "Navigation Bar System v2"
- [x] HC: Specify → [Features Navigation Bar](#issuecomment-217337065)
- [x] Compile → [Heroes Navigation Bar](#issuecomment-217337082)
- [x] HC, LC: Tune → [Features Navigation Bar](#issuecomment-217337065)
- [x] Fix Bug: → [Making Third Level Navigation Work](https://github.com/V-Squared/v2-Plan/issues/26)
- [x] Add Feature → [Add Menu Item to Front Matter](https://github.com/V-Squared/v2-Plan/i

[2016-05-06 02:56] VillageHubertChen commented on #42
# Features Navigation Bar

# Table of Contents
- [Introduction](#intro)
- [Navigation](#navigation)
- [Library Metaphor for Navigation](#metaphor) ← NEW
- [Tooltips](#tooltips) ← NEW
- [Integration with Jumbotron](#jumbotron)
- [Considerations for Jekyll and Repositories](#jekyll)
- [Behaviors](#behaviors)
- [Layout of Nav Bars](#layout)
- [Mobile Support](#mobile)
- [Terms](#terms) ← NEW
- [Refer

[2016-05-06 02:57] VillageHubertChen commented on #42
# Heroes Navigation Bar
- http://mdbootstrap.com/live/_products/Landing-Page/index.html#sec-best-features
- https://developers.google.com/schemas/now/cards
- https://design.google.com/resources/
- http://www.materialup.com/posts/wip-landing-page
- http://www.bdinfosys.com/demo/appmate/sites/home-solid.html

[2016-05-06 08:36] VillageHubertChen opened #43 "Designing V² Board Colors"
- [ ] Write Requirements
- [ ]
# Reference
- http://www.materialpalette.com/blue/orange (Material Design)

[2016-05-06 08:40] VillageHubertChen opened #44 "Library Metaphor for V² Navigation"
- [x] Develop → [Library Metaphor](#issuecomment-217384263)
- [x] Proof read → [Library Metaphor](#issuecomment-217384263)
- [x] Modify → #42 to reflect Library Metaphor
- [x] Find a place where to put this Article on V² Site → #48

[2016-05-06 08:40] VillageHubertChen commented on #44
# Library Metaphor for Navigation

# Table of Contents
- [Library Metaphor Explained](#explained) ← NEW
- [Tooltips teach Library Metaphor](#tooltips-metaphor) ← NEW
- [Mapping of Metaphor Element to Nav Bar](#maping)
- [Examples](#examples)
- [Illustration of Library Metaphor](#illustration)

# Library Metaphor Explained <a name="explained"></a>

Finding Articles of your interest on the V² Site i

[2016-05-07 02:16] LukasChen commented on #44
Read and agree :ok:

[2016-05-07 05:10] VillageHubertChen commented on #23
# What we added since last review
- Modular PC
- Video
- Fluid Form Factor
- V² in Action Gallery
- V² Serves as a Library Shelf

[2016-05-07 06:07] VillageHubertChen commented on #44
# List of Things Added
- Library Metaphor Explained
- Tooltips teach Library Metaphor in Nav Bars
- Changed Section Bar to ToC Bar (Table of Contents Bar)

[2016-05-08 03:15] VillageHubertChen opened #45 "humans.txt"
- [ ] evaluate → http://humanstxt.org/
# evaluate → http://humanstxt.org/
- GitHub is using it

[2016-05-08 07:33] VillageHubertChen commented on #42
# Coding Complex Nav Bar System in Jekyll

# Table of Contents
- [Features](#feat)
- [Technologies](#tech)
- [How it Works](#how)
- [Coding](#coding)
- [References](#ref)

# Features of V² Site Nav Bar from Coding Perspective <a name="feat"></a>
- 4 Distinct Nav Bars: Board-Bar, Book-Bar, Article-Bar, Toc-Bar
- Each Bar represents one Level
  - List all pages of that level
  - Ability to order ite

[2016-05-08 08:37] VillageHubertChen commented on #42
# YAML for Book-Bar

## File Name and Location
- **Name:** "book-bar.yml"
- **Location:** "_data"

## Content of book-bar.yml

[code]

[2016-05-08 09:17] georgillies commented on #23
# Also add to Introduction
- Configurator
- Computer DIY Know How

[2016-05-09 05:37] VillageHubertChen commented on #23
# Reply to Georg's Suggestion

Agreed. We should add each (Configurator | DIY Know How) once each item becomes available and can be linked.

[2016-05-09 06:33] VillageHubertChen opened #46 "Styling of Jekyll Articles"
- [ ] Find → [Hero Pages for Article Styling](#issuecomment-217786130), then trigger HC for review
- [ ] HC, LC: Pick the styling from Hero Pages. We can Cherry Pick and Mix and Match
- [ ] Implement Styling, then trigger HC for review
  - [x] Tune Jumbotron Styling
  - [x] Add styling to table in → https://v-squared.github.io/v2-Plan/road-map/campaign01/
  - [ ] White Space under hrule
  - [ ] em

[2016-05-09 06:33] VillageHubertChen commented on #46
# Hero Pages for Article Styling
- [Hero of four types of Hints](https://jekyllrb.com/docs/home/)
- [Hero of Code Highlighting](https://jekyllrb.com/docs/quickstart/)
- http://electron.atom.io/ (check out their Article Pages)
- Mozilla Developer Network Article Pages

[2016-05-09 07:24] VillageHubertChen opened #47 "Epic►001►Navigation Bar System v3"
- [x] HC, LC: Brainstorm on v3 features and implementation
- [x] HC: Document this project in description below
- [x] LC: Hack a design that comes close to the below ideas, but is a quick implementation based on what we have
- [x] Implement Milestone 1: Essential Features
  - [x] HC: Create [YAML file for Board-Bar](7#issuecomment-218051079)
  - [x] Create [YAML file for Book-Bar](#issuecomment-21

[2016-05-09 07:44] VillageHubertChen opened #48 "Epic►005►Parent: Compile Know How►GitHub Template"
- [x] Create Workflow
- [x] Create Linked List of Articles
- [x] Find the spot where to publish → #82
- [ ] Keep writing know how in here, until we are ready to publish
- [ ] Move this Article Series to its final resting place → #82
  -  V²►Spreading►Know How►GitHub Template
# Workflow
- Each article is filed in a separate comment, this makes editing manageable
- This comment contains a linked _Li

[2016-05-09 09:51] VillageHubertChen commented on #48
# Programming the Nav Bar System
- [ ] Move Writing from these Issues: #47 #42 #44 #47

[2016-05-09 09:51] VillageHubertChen commented on #48
# The Library Shelf Metaphor
- [ ] Move Content from → #44

[2016-05-09 09:51] VillageHubertChen commented on #48
# Kramdown Cheat Sheet

# To Do
- [ ] When moving to V²Site then include my Cheat Sheet writing in v2-Docu.

# Reference
- http://kramdown.gettalong.org/syntax.html

[2016-05-09 09:51] VillageHubertChen commented on #48
# Material Design in V²Site

## Introduction to Google Material Design
- https://www.google.com/design/spec/material-design/introduction.html

## Introduction to Angular Material
- https://github.com/angular/material
- https://material.angularjs.org/latest/

## How to use Material in HTML

## How to use Material in Kramdown

[2016-05-09 09:51] VillageHubertChen commented on #48
# Styling of V² Articles

[2016-05-09 09:51] VillageHubertChen commented on #48
# How to use v2-Tooltip
- [ ] Create Article and link to v2-Tooltip Readme

[2016-05-09 09:51] VillageHubertChen commented on #48
# How to use v2-Tab
- [ ] Create Article and link to v2-Tab Readme

[2016-05-09 09:52] VillageHubertChen commented on #48
# How to use SVG with v2-Tooltip

[2016-05-09 11:16] VillageHubertChen commented on #48
# Building a Big Web Site on GitHub

# Wishlist on Site for V²
- Looks modern. Very practical in use.
- Works on Mobile, Tablet and big Screen.
  - Bigger screen size is utilized with more features
  - Smaller screen size remains usable by collapsing and removing less important features
- Minimum cost.
- Minimum upkeep efforts
- Anyone can easily improve site
- Contribution workflow with review
-

[2016-05-10 03:35] VillageHubertChen commented on #47
# YAML file for Board-Bar

## File Name and Location
- **Name:** "board-bar.yml"
- **Location:** "_data"

## Content of board-bar.yml

[code]

[2016-05-10 03:36] VillageHubertChen commented on #47
# YAML file for Book-Bar

## File Name and Location
- **Name:** "book-bar.yml"
- **Location:**
  1. go to <> Code directory of the repository hosting your Jekyll Site
  2. enter folder: "_data"
  3. This contains one folder for each _Book_ of your _Site_. Pick the Book you want to edit
  4. Each of above folders contains the "book-bar.yml" file with content corresponding to its folder

## Example

[2016-05-10 04:22] VillageHubertChen commented on #48
# Maintainers Manual V²Site

## Making Changes to Board-Bar or Book-Bar
- Board-Bar and Book-Bar are the horizontal navigation bar for Level 1 and 2 Navigation.
- Article-Bar is the vertical navigation left to Article for Level 3 and 4
- board-bar.yml contains the menu entries for Board-Bar
- book-bar.yml contains the menu entries for Board-Bar & Article-Bar
- When you create a new Article you nee

[2016-05-10 07:02] VillageHubertChen commented on #42
All done. Closed.

[2016-05-10 07:02] #42 closed, assigned to LukasChen

[2016-05-10 07:02] VillageHubertChen commented on #26
All done. Closed.

[2016-05-10 07:02] #26 closed, assigned to LukasChen

[2016-05-10 07:02] VillageHubertChen commented on #44
All done. Closed.

[2016-05-10 07:02] #44 closed, assigned to VillageHubertChen

[2016-05-10 07:27] VillageHubertChen commented on #39
Closed for now because it is a nice to have Issue. By closing it we remove it from the Open Issue List. Anybody who like to complete this Issue is welcome. When done, remove from "Nice to Have" milestone and assign to the milestone of the sprint this Issue was finally worked on.

[2016-05-10 07:27] #39 closed, assigned to nobody

[2016-05-10 09:31] VillageHubertChen commented on #9
# Moved this Issue to:
1. → [Page Structure for V²►Spreading](https://github.com/V-Squared/v2-Spreading/issues/19)
2. → [Extract Articles from Issues](https://github.com/V-Squared/v2-Spreading/issues/20)

[2016-05-10 09:31] #9 closed, assigned to VillageHubertChen

[2016-05-10 12:20] VillageHubertChen opened #49 "Make 7 remaining Board Menu Items work"
- [ ] Start this after → #5 is complete, so we can benefit from that experience
- [ ] Tune → [v2-Site Repository](#issuecomment-218140984)
- [ ] Do → [Refactor Code in v2-Nav-Bar Repository](#issuecomment-218141168)
- [ ] Do → [Refactor in Plan and Organization](#issuecomment-218141409)
- [ ] HC: Do → [Tune Repos for  7 remaining Board Items](#issuecomment-218141844)
- [ ] Prepare 7 remaining repo

[2016-05-10 12:21] VillageHubertChen commented on #49
# Tune v2-Site Repository

# Tasks
- [ ] Tune Repo [v2-Site](https://github.com/V-Squared/v2-Site), gh-pages only, Jekyll Git Ignore
  - [ ] Description: Powerful
- [ ] Add README.md
- [ ] Create LICENSE.md
- [ ] Create Demo

# Purpose
- One place for most updated code base of our Navigation Bar System
  - We will use it in several other web sites. Next Site Project: www.villagetronic.com
  - We n

[2016-05-10 12:22] VillageHubertChen commented on #49
# Refactor Code in v2-Nav-Bar Repository

for external JS & CSS

[2016-05-10 12:23] VillageHubertChen commented on #49
# Refactor in Plan and Organization

[2016-05-10 12:25] VillageHubertChen commented on #49
# Tune Repos for  7 remaining Board Items
- [ ] Create table first as per below tasks, then double check, then execute
- [ ] List repositories that already have 1:1 match
- [ ] Rename repositories that exist with right content but wrong name
- [ ] Create missing repositories
- [ ] Create gh-Pages Branch, Delete Master Branch, Set Git Ignore to Jekyll

[2016-05-10 12:27] VillageHubertChen commented on #49
# 7 Single Page Structure and Statement

[2016-05-10 14:26] VillageHubertChen opened #50 "Epic►002►Article Front Matter and its Styling"
- [x] HC: Develop → [Proposed new Front Matter](#issuecomment-218359009)
- [x] HC: Write Specifications. Where needed develop specs together with LC.
- [x] Write Manual → [# How to Create a New Page](#issuecomment-218960578)
- [x] Implement → [Proposed new Front Matter](#issuecomment-218359009) in [Golden Page](http://v-squared.github.io/v2-Plan/system/)
- [x] Implement → [GitHub-Bar](#issuecommen

[2016-05-10 16:14] VillageHubertChen opened #51 "Reassign Milestones"
- [x] Tune Milestone → [Campaign 1](https://v-squared.github.io/v2-Plan/road-map/campaign01/)
- [x] Tune Milestone → [Campaign 2](https://v-squared.github.io/v2-Plan/road-map/campaign02/)
- [x] Delete all M0 ... M06 milestones in corresponding repositories
- [x] Reassign Milestones in all relevant repositories to all issues, open and closed
- [ ] Create the new milestones in corresponding reposito

[2016-05-11 04:30] VillageHubertChen commented on #50
# Proposed new Front Matter

## Golden Page
1. LC Implement in → [Golden Page](http://v-squared.github.io/v2-Plan/system/)
2. HC sign off → [Golden Page](http://v-squared.github.io/v2-Plan/system/)
3. HC changes all other pages following → [Golden Page](http://v-squared.github.io/v2-Plan/system/)

## New Front Matter

[code]

## What has been removed
- **order:** now in YAML file by method of orde

[2016-05-12 01:58] VillageHubertChen commented on #47
# Layout Tweak Article-Bar
- [x] HC, LC: Merge Layout Styling of our current design and Hero below

## Hero
- → http://getuikit.com/docs/grid-parallax.html

## Improvements
- Looks lighter and more modern
- Make Article more the hero of the page

## Keep important features
- Keep the Board Jumbotron in the Header of Article-Bar to show connection of chosen Book-Bar Menu Item and Article-Bar conten

[2016-05-12 05:46] VillageHubertChen commented on #47
# Contents-Bar

## Implementation
- [x] Find [Hero Page](#contents-hero) and get HC's approval
- [ ] Read values from Article Front Matter
  - [ ] Golden Reference Article → http://v-squared.github.io/v2-Plan/system/
  - [ ] Implement all items of Table of Contents
  - [ ] Fix bug that scroll position is so that sticky Books-Bar covers heading
- [ ] Implement → [Styling](#contents-styling)
- [ ] I

[2016-05-12 06:38] VillageHubertChen commented on #47
# Nav Bar System Responsive
- [x] HC, LC: Develop Rules
- [x] You currently name the Off Canvas Icon for Book-Bar: "Navigation". Rename → "Books & Articles"
- [x] In the same spirit, add the name: "Boards" to Icon for Board-Bar
- [x] Indent Article Pages in Off Canvas Navigation. Also reduce top margin for first Article
- [x] Add the 3D Button look to Books, but not to Articles. This is done very

[2016-05-12 10:19] VillageHubertChen commented on #50
# GitHub-Bar

## Implementation
- [x] HC: Draw Mock Up
- [x] Read values from Article Front Matter
  - [x] Golden Reference Article → http://v-squared.github.io/v2-Plan/system/
  - [x] If not done yet, implement → [Proposed new Front Matter](#issuecomment-218359009)
- [x] Implement → [Readiness Indicator](#ref-ready)
- [x] Implement → [Styling](#ref-styling)
- [x] Implement → [Behavior](#ref-behav

[2016-05-12 11:19] VillageHubertChen commented on #50
# Article Jumbotron

## Implementation
- [x] HC: Draw Mock Up
- [x] Read values from Article Front Matter
  - [x] Golden Reference Article → http://v-squared.github.io/v2-Plan/system/
  - [x] If not done yet, implement → [Proposed new Front Matter](#issuecomment-218359009)
- [x] Implement → [Styling](#jumbo-styling)
- [x] Implement → [Edit Button](#jumbo-edit)
- [x] Implement → [Behavior](#jumbo-b

[2016-05-12 12:04] VillageHubertChen commented on #47
# Edit & GitHub FAB

## Edit FAB
- FAB is acronym for: Floating Action Button. Key design element in Material Design
- Two entries:
  - Edit Article
  - Article Issue
- Use Icons as you already do in Edit-Bar
- On pressing Edit FAB pop up a menu to the top

## GitHub FAB
- Works the same as Edit FAB
- Entries:
  - Repo
  - Graphs
  - Pulse
  - Board
  - Issues
- Board Icon: 3 Vertical bards
- Boar

[2016-05-13 01:17] VillageHubertChen opened #52 "Proposed new Structure for Hosting V²Site"
## Tasks
- [x] Document new Structure
- [x] Discuss with SL
- [x] Discuss with LC
- [x] Come to conclusion → Agreed on Conclusion
- [x] Move all open Issues of v2-Plan to V-Squared.github.io
- [ ] Move all closed Issues of v2-Plan to V-Squared.github.io
- [ ] Move pages in v2-Plan wiki to V-Squared.github.io
- [ ] Check everything is empty
- [ ] delete repository
## Conclusion

We go for it due to

[2016-05-13 04:41] LukasChen commented on #52
Great. This is solving the big problem of redundant code! :tada: :+1:

[2016-05-13 05:01] VillageHubertChen opened #53 "Epic > 017 > Parent: V² Plan Create"
- [x] Write Description
- [x] Finish →  Rendering all Images for V²Plan Board and Slide #102
- [x] Write → Discussion on True North and Targets → below
- [ ] Finish →  Reassign Milestones #51
- [ ] Finish →  Quick & Dirty V²Art #87
- [ ] Finish →  Complete V²Plan on Home Page #103
- [ ] Finish →  Add all Jumbotron Images to V²Plan Articles → #104
- [ ] Finish all top level Articles:
  - [x] Intro

[2016-05-13 05:54] VillageHubertChen commented on #52
Feedback Sascha:

Agreed. Sascha suggested to go one step further and to have in place development of our template in v-squared.github.io repository. This speeds up development and testing. In case we have early users of our template it is still straight forward to extract the template files for their projects. We can document this easy enough. I updated above description in response to Sascha's f

[2016-05-13 06:15] VillageHubertChen commented on #50
# How to Create a New Page

## Step by step instructions

### Step 1: Title

Decide on a Title of the Article: E.g. "V² Plan System" (max 30 Char)

### Step 2. Menu

This is the name listed in the Menu Item: e.g. "System" (max 13 char in Book-Bar, max 26 char in Article-Bar). In this case we choose: "System".

### Step 3: File Name

Generated from Menu name. In this case: "system.md"

### Step 4:

[2016-05-16 11:28] VillageHubertChen opened #54 "V² > Plan > Agile > Intro"
# Tasks Stage 1
- [x] Create → [List of Articles](#issuecomment-219596479)
- [x] Create → [Titles, Subtitles, Abstracts](#issuecomment-219599960) and possible ToC
- [x] Create → [Structure for each Article](#issuecomment-219974521)
- [x] Create → [Renaming List for already existing Articles](#issuecomment-220025146)
- [x] Create corresponding Issues to Articles
- [x] LukasChen [Create V² Plan Arti

[2016-05-17 01:32] VillageHubertChen commented on #54
# List of Articles

| # | G | Title | Menu | File Name | i # |
| :-: | :-: | :-: | :-: | :-: | :-: |
| 1 | 1 | Introduction to V²Plan System | Intro | system.md | 59 |
| 2 | 1 | V²Agile Workflow on GitHub | V²Agile Workflow | agile-workflow.md | 60 |
| 3 | 1 | V²Sprint Workflow on GitHub | V²Sprint Workflow | sprint-workflow.md | 61 |
| 4 | 1 | Roles & Communication | Roles & Communication | roles

[2016-05-17 01:58] VillageHubertChen commented on #54
# Titles, Subtitles, Abstracts

!!! Now transferred → https://v-squared.github.io/plan/agile/ !!!
- **h1:** Title
- **h2:** Subtitle
- **p:** Abstract

---

# Introduction to V²Plan System

### Linked Listing of all Articles with Titles, Info-graphics and Abstracts.

After reading this Article you have a complete overview to V²Plan and you will know what each Article is about so that you can focus

[2016-05-18 09:33] VillageHubertChen commented on #54
# Structure for each Article

## Jumbotron
- Background Color 300 of Board Color
- Title + Info Graphics + Sub Title + Abstract

## Bread Crumb
- Under Jumbotron
- It is the Logical Path to the Article

## Info Graphics

It is placed in Jumbotron, however here I explain more of its features
- Each Heading 1 Section of the Article is represented with an Icon in the Info-graphics
- Each Icon has a C

[2016-05-18 13:26] VillageHubertChen commented on #54
# Renaming List for already existing Articles
- system.md → system.md
- agile-philosophy → agile-primer.md
- agile-workflow.md → agile-workflow.md
- plan-reference.md → reference.md
- problems.md → solving-problems.md
- sprint-workflow.md → sprint-workflow.md
- [ ] for the files no need to rename you still need to check if you may need to rename the title in the YAML Front Matter. For sure you wil

[2016-05-18 13:28] VillageHubertChen commented on #54
# Create V² Plan Articles
1. all Articles are in the /system/ folder
2. [Rename the existing Articles](#issuecomment-220025146) first
3. Add the → [Titles, Subtitles and Abstracts](#issuecomment-219599960)
4. Create the remaining Articles of First Stage onlye → [List of Articles](#issuecomment-219596479) !!! First Stage is in second table. Total only 14 Articles instead of 19!!!
5. Add Issue Numbe

[2016-05-18 13:50] VillageHubertChen commented on #54
# Automatically generated Introduction Page
- [x] LC, HC: Write specs
- [ ] Implement as per specs, then trigger HC to review

## Hot Edit

We added grouping of Articles. Read grouping and Article order from YML file.

## Overview
- the content of body the system.md page will be automatically generated
- LC will code an include template, that is included with markdown in system.md
- we will give i

[2016-05-18 13:50] VillageHubertChen commented on #54
# Jekyll Template for Introduction Page

[2016-05-18 13:50] VillageHubertChen commented on #54
# Change Introduction Page to Kramdown

[2016-05-23 08:49] LukasChen opened #55 "Evaluating waffle.io"
@VillageHubertChen commented on [Thu Apr 07 2016](https://github.com/V-Squared/v2-Plan/issues/4)
- [x] HC: Check if it has feature set we want → Yes. Fore details see **Features** below
- [x] HC: Check cost → **Zero Cost** It is free for pubic open source repositories
- [x] HC: Check safety → **Very safe** Check **Safety below for more details
- [x] HC: Get impressions from LC & SL → **Great first

[2016-05-23 09:14] VillageHubertChen opened #56 "Getting more done in GitHub with ZenHub"
Hola! @VillageHubertChen has created a [ZenHub](http://www.zenhub.io) account for the **V-Squared** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=Z

[2016-05-23 14:32] VillageHubertChen commented on #55
# Alternatives to Waffle / Adding SCRUM Kanban to GitHub

_Project Management for GitHub Issues_

# Alternatives

## Reviews of Alterbatives
- https://www.quora.com/Which-project-management-tools-are-deeply-integrated-with-GitHub
- http://liftux.com/using-github-issues-project-management/
- http://www.thesambarnes.com/digital-project-management/web-project-management-and-collaboration-using-github

[2016-05-24 02:42] LukasChen opened #57 "Multi Level Breadcrumb from book-bar.yml file"
- [x] Create Issue for this project
- [x] Express what is the problem
- [x] Find references that deal with solving the problem
- [x] Study references. Apply new solutions until find a method that works
- [x] Clean up the code
- [x] push new version, trigger HC for testing
- [x] close issue after test passed
# How the breadcrumb works now

Each Article has a YAML front matter with the breadcrumb at

[2016-05-24 06:31] VillageHubertChen opened #58 "Add Dashboard to V²Flow FAB Menu 2016W23"
# Tasks
- [x] HC: Write User Story
- [x] Add Dash Board Icon in form of: 3 vertical Bars (see ZenHub)
- [x] link to Waffle Board
- [x] Rename "Board" to "Dashboard"
- [x] change link to → [Dashboard](https://v-squared.github.io/plan/dashboard/)
- [x] HC: Add snapshots and links to both boards in Dashboard
# User Story
## New V² Reader

As a **new reader** to V² I found the Dashboard feature in the

[2016-05-24 06:35] VillageHubertChen opened #59 "Article►Introduction to V²Plan System"
Duplicate Issue to → #54 . Created by accident. This issue is closed now.

[2016-05-24 06:36] VillageHubertChen opened #60 "V²►Plan►System►V²Agile Workflow on GitHub"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:37] VillageHubertChen opened #61 "V²►Plan►System►V²Sprint Workflow on GitHub"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
  - [ ] My writing in Dashboard
  - [ ] Leave a reference in Dashboard to the new resting place
- [x]

[2016-05-24 06:38] VillageHubertChen opened #62 "V²►Plan►System►Roles & Communication"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:39] VillageHubertChen opened #63 "V²►Plan►System►Iterations & Testing"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:41] VillageHubertChen opened #64 "V²►Plan►System►Solving today's Problems"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:41] VillageHubertChen opened #65 "V²►Plan►System►Features of V²Plan"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:42] VillageHubertChen opened #66 "V²►Plan►System►Video Tutorials V²Plan"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:42] VillageHubertChen opened #67 "V²►Plan►System►Agile Development Primer"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:43] VillageHubertChen opened #68 "V²►Plan►System►Toyota Production Primer"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:44] VillageHubertChen opened #69 "V²►Plan►System►Motivation by Design"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:45] VillageHubertChen opened #70 "V²►Plan►System►Multi Repo Management"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:46] VillageHubertChen opened #71 "V²►Plan►System►Adding SCRUM to GitHub"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:46] VillageHubertChen opened #72 "V²►Plan►System►Adding Dashboard to GitHub"
# Generic Tasks
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Articl

[2016-05-24 06:47] VillageHubertChen opened #73 "V²►Plan►System►Adding Gantt to GitHub"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:48] VillageHubertChen opened #74 "V²►Plan►System►Adding Workload to GitHub"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:49] VillageHubertChen opened #75 "Epic►006►Parent: V²►Plan►System►V² Plan Reference"
# Generic Tasks
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [x] Link Issue to Article
- [x] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Articl

[2016-05-24 06:50] VillageHubertChen opened #76 "V²►Plan►System►Developing V²Plan"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 06:50] VillageHubertChen opened #77 "V²►Plan►System►Adapting V²Plan"
- [x] Create Issue
- [ ] Create Article with basic content as per → [Article►Introduction to V²Plan System](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [ ] Link Issue to Article
- [ ] Link Article to Issue in Reference
- [ ] Collect any writing Materials from other places to here
- [ ] Develop rough outline and some writing in here
- [ ] Transfer writing to Article
- [ ] Set Prog

[2016-05-24 07:11] VillageHubertChen commented on #57
Works great! Thanks for being tough and keep working at it until success, so that creating new articles and maintaining them is much easier.

[2016-05-24 07:11] #57 closed, assigned to LukasChen

[2016-05-24 08:12] VillageHubertChen commented on #59
Duplicate Issue to → #54 . Created by accident. This issue is closed now.

[2016-05-24 08:12] VillageHubertChen commented on #59
Duplicate Issue to → #54 . Created by accident. This issue is closed now.

[2016-05-24 08:12] #59 closed, assigned to VillageHubertChen

[2016-05-24 08:23] VillageHubertChen opened #78 "Board Structure for V²►Plan"
- [x] Create Page Structure for V²►Plan►Road Map
- [x] Extend Page Structure to include entire V²►Plan
## Debt Docu
- Create a Page about Page Structure for V²Site
- Place it → V²►Spreading►Know How►GitHub Template►Site Structure
- Find all Page Structure Pages and copy their content to that page
- Write an Introduction that this is our structure and here for our reference and your inspiration
# P

[2016-05-24 08:38] VillageHubertChen opened #79 "Publish V²Site Articles"
@VillageHubertChen commented on [Mon May 09 2016](https://github.com/V-Squared/v2-Organization/issues/3)
- [ ] Publish Articles according to _Page Structure of Organization_ #80
- [ ] Pull content of Articles from → [Compile Know How for Org►Contributing►V²Site](https://github.com/V-Squared/V-Squared.github.io/issues/48)

[2016-05-24 08:39] VillageHubertChen opened #80 "Board Structure of V²►Organization"
- [x] Create Page Structure for V²►Organization
## Debt Docu
- Create a Page about Page Structure for V²Site
- Place it → V²►Spreading►Know How►GitHub Template►Site Structure
- Find all Page Structure Pages and copy their content to that page
- Write an Introduction that this is our structure and here for our reference and your inspiration
# Page Structure for V²►Organization (v2)

[code]
## Notes

[2016-05-24 08:42] VillageHubertChen opened #81 "Documentation for Contribution Workflow"
@VillageHubertChen commented on [Thu Apr 28 2016](https://github.com/V-Squared/v2-Organization/issues/1)
- [ ] Consider placement for article following → #80
## Hero Example Jekyll
1. Find a problem in documentation https://jekyllrb.com/docs/home/
2. Click the "Improve this page" Link / Icon →
3. https://github.com/jekyll/jekyll/edit/master/site/_docs/frontmatter.md
## News

If the repository has

[2016-05-24 08:43] VillageHubertChen opened #82 "Board Structure for V²►Spreading"
@VillageHubertChen commented on [Tue May 10 2016](https://github.com/V-Squared/v2-Spreading/issues/19)
- [x] Create Page Structure for V²►Spreading
## Debt Docu
- Create a Page about Page Structure for V²Site
- Place it → V²►Spreading►Know How►GitHub Template►Site Structure
- Find all Page Structure Pages and copy their content to that page
- Write an Introduction that this is our structure and he

[2016-05-24 08:46] VillageHubertChen opened #83 "Move Campaigns to Plan"
@VillageHubertChen commented on [Sun May 08 2016](https://github.com/V-Squared/v2-Plan/issues/28)
- [x] Write the → Current Problem
- [x] Write the → Proposed Solution
- [x] Execute Solution
# Current Problem

The Tiles _Campaign 2: Community_, _Campaign 3: Shops & Press_ and _Campaign 4: OEM_ are now in the Slide: _Spreading V²_. This makes sense in that these three campaigns are about spreading

[2016-05-24 08:48] #83 closed, assigned to VillageHubertChen

[2016-05-24 10:03] VillageHubertChen commented on #60
# Description Info-graphics

![](http://www.flashissue.com/blog/wp-content/uploads/2015/12/the-agile-scrum-process_532128a2b63a5_w1500.jpg)

[2016-05-24 10:10] VillageHubertChen opened #84 "Collaborate with Universities on Info-graphics"
- [x] Describe [V² Art Contribution Win-Win](#win-win)
- [ ] Create Descriptions to Info-graphics in Issues for V²Plan►System Articles
- [ ] Complete some of above described Info-graphics
- [ ] Create a courtesy system, where the artist is mentioned with a link to his website
  [ ] As such I need to a web page about me as an Artist to have an example. The idea is to show with the Illustrations tha

[2016-05-24 10:50] VillageHubertChen opened #85 "V² Agile Cheat Sheet"
@VillageHubertChen commented on [Mon Apr 11 2016](https://github.com/V-Squared/v2-Plan/issues/21)
- [x] V² Agile Cheat Sheet → We keep the idea of the cheat sheet. We include it into the new [ Article►Introduction to V²Plan System #54 ](https://github.com/V-Squared/V-Squared.github.io/issues/54)
- [x] @bcaswelch Discuss with your school:
  - a) Can you do some of these as your school project
  - b

[2016-05-24 10:51] #85 closed, assigned to VillageHubertChen

[2016-05-24 11:09] VillageHubertChen commented on #54
# Special Situation of this Article
- This  Article started as "Introduction to V²Plan System".
- When developing further the Article series we changed that the Introduction is an Assorted list of all Jumbotrons of all V²PLan System Articles
- [x] Sort the existing content into corresponding articles of this Article series

[2016-05-24 11:16] VillageHubertChen opened #86 "Create Content V²Plan►Contributing"
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Find old issue in V²Plan on this topic and move to here → [Fri May 06 2016](https://github.com/V-Squared/v2-Plan/issues/24)
- [x] Set Labels, Milestone, Assignee
- [x] Update to new Front Matter
- [ ] Write content
  - [ ] Report an Issue to an Article
  - [ ] Edit existing Article
    - [ ] For tea

[2016-05-24 11:17] VillageHubertChen opened #87 "Epic > 016 > Parent: V²Art Create"
@VillageHubertChen commented on [Tue Apr 12 2016](https://github.com/V-Squared/v2-Plan/issues/22)
- [x] Write V²Art Article in Classeur and Stack Edit
- [x] Create V²Art Create Milestone and assign to issue
- [ ] Find final place of Article
  - new idea → V² > Plan > Flow > Art
  - old idea → [ Page Structure for V²►Spreading #19 ](https://github.com/V-Squared/v2-Spreading/issues/19)
- [ ] Collect

[2016-05-24 11:19] VillageHubertChen opened #88 "Move all Articles in Wiki to Pages in <>Code of V² Plan"
@VillageHubertChen commented on [Fri Apr 08 2016](https://github.com/V-Squared/v2-Plan/issues/20)
- [x] Move all Articles from Wiki to Pages in <>Code of V² Plan. Keep them Markdown.

[2016-05-24 11:20] #88 closed, assigned to VillageHubertChen

[2016-05-24 11:27] VillageHubertChen opened #89 "GitHub Burn Chart"
@VillageHubertChen commented on [Fri Apr 08 2016](https://github.com/V-Squared/v2-Plan/issues/18)
- [x] Find → [Articles on Sprint Burndown (Scrum)](#articles-scrum)
- [x] Find → [Projects about GitHub Burn Chart](#projects)  → Waffle is working on a Burnchart!
- [x] Keep checking if Waffle finishes their Burnchart. If so we celebrate and close this issue → As of May 24th Waffles own Scrum board s

[2016-05-24 11:45] VillageHubertChen opened #90 "Integrating waffle.io"
@VillageHubertChen commented on [Thu Apr 07 2016](https://github.com/V-Squared/v2-Plan/issues/5)
- [ ] Complete → #55 (Evaluation of waffle.io)
- [ ] Set up and configure waffle boards for the repositories that we are working on
- [ ] Write a Admin Manual on how to configure Waffle Boards for V²
- [ ] Write a User Manual for a V² Contributor on how to use a Waffle Board, how to advance cards autom

[2016-05-24 11:52] VillageHubertChen opened #91 "V² > Plan > Index"
# Tasks (Stage 1)
- [x] HC: Get feedback from SL → Completely rewritten after feedback
- [x] HC: Find a FOSS Gantt Chart plugin written in Angular reading its data from Angular
- [x] HC: Initial evaluation of https://waffle.io → Adds boards to GitHub Management. Works like Trello Boards, but with GitHub integration. For us it will be zero cost.
- [x] HC: Create initial Waffle Board → https://waffl

[2016-05-24 11:54] VillageHubertChen opened #92 "Include Feedback to V²Plan Initial Publishing"
@VillageHubertChen commented on [Fri May 06 2016](https://github.com/V-Squared/v2-Plan/issues/25)
- [x] Fix → [Purpose and Motivation is similar](#purpose)
- [ ] Fix → [Eating our own Dog Foot](#dog-foot)
- [ ] Fix → [Add footnote to arts](#footnote)
- [ ] Fix → [Add styling](#styling)
- [ ] Fix → [Put href before the title](#href)
- [ ] Fix → [Footer](#footer)
# Purpose and Motivation is similar

[2016-05-25 05:05] VillageHubertChen opened #93 "--- deleted ----"
This issue was a duplicate to #91 so it had to be deleted. GitHub does not allow to delete issues, so this is best we could do.

[2016-05-25 09:17] VillageHubertChen commented on #48
# Workflow for custom page

This Article was extracted from [Article►Introduction to V²Plan System #54](https://github.com/V-Squared/v-squared.github.io/issues/54#issuecomment-220031676), as we now take a different, more simple solution for this kind of page. However, the general approach is still valid. I am storing this Article for later reference. When used, this Article need to be adapted for

[2016-05-25 10:13] VillageHubertChen opened #94 "Plan►Dashboard"
# Tasks
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update to new Front Matter
- [x] Add Weekly Sprints
- [x] Add Images with links to Scrum Boards
- [x] Improve Abstract
- [x] Write content
- [x] Add ToC to Front Matter
- [x] Create the Title Graphics
- [x] Bump Readiness to Core-Beta
- [x] Add Feature:

[2016-05-25 13:56] VillageHubertChen opened #95 "V²►Plan►Road Map►Intro"
# Tasks of Original Issue

→ [Thu Apr 07 2016](https://github.com/V-Squared/v2-Plan/issues/8)
- [x] Create Road Map Article in Wiki → [v2 Road Map](https://github.com/V-Squared/v2-Plan/wiki/v2-Road-Map)
- [x] Rewrite Road Map from M01, M02, ... style which has cross repository milestones to the new style which contains each milestone to only one repository
- [x] Move Road Map on Wiki → [V²►Plan►Ro

[2016-05-25 14:28] VillageHubertChen opened #96 "V²►Plan►Road Map►Strategy"
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [x] Change Content to be about Strategy to be about Strategic Road Map, that is covering 10 Years from 2011 to 2021. A second Road Map to cover the next two years.
- [x] Add ToC to Front Matter
- [x] Set readiness
- [x] Trigg

[2016-05-25 14:36] VillageHubertChen opened #97 "V²►Plan►Road Map►Campaign 1"
# Tasks from old Issue

→ [Thu Apr 07 2016](https://github.com/V-Squared/v2-Plan/issues/9)
- [x] Create New Milestones for Campaign
- [x] Review new Campaigns by GI → Passed
- [x] Write description for Campaign 1, reformat to table
- [x] Write description for Campaign 2, reformat to table
- [x] Move to Wiki Article → [v2 Campaigns](https://github.com/V-Squared/v2-Plan/wiki/v2-Campaigns)
- [x] Move

[2016-05-25 14:59] VillageHubertChen opened #98 "V²►Plan►Road Map►Campaign 2"
# Tasks
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [x] Write Abstract
- [x] Double Check Milestones in Campaign
- [x] Remove any overlapping or missing milestones when compared to Campaign 1
- [x] @bcaswelch Intensive review with HC including brainstorming of changes

[2016-05-25 15:06] VillageHubertChen opened #99 "V²►Plan►Road Map►Campaign 3"
# New Tasks
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [ ] Write Abstract
- [ ] Double Check Milestones in Campaign
- [ ] Create Milestones in V-Squared.github.io repository and assign milestones to issues
- [ ] Link Milestones in Table to Milestones in Issues
- [ ] A

[2016-05-25 15:17] VillageHubertChen opened #100 "V² > Plan > True North"
@VillageHubertChen commented on [Fri Apr 08 2016](https://github.com/V-Squared/v2-Plan/issues/16)
- [x] Create Article → [Targets & True North](https://v-squared.github.io/v2-Plan/target/)
- [x] Find old Issue in Plan, move to here and update its content
- [x] Link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [x] Chec

[2016-05-26 12:42] VillageHubertChen opened #101 "ajax.googleapis.com CDN fallback for V²Site"
- [x] HC: Create issue, describe problem, report SL's proposal
- [ ] discuss with HC if we are gping to implement this and how exactly.
- [ ] implementation
- [ ] review by HC
# Problem
# Current Solution
## Hosting all script libraries on our GitHub Repository

Without VPN our web site could not be loaded because in china ajax.googleapis.com is blocked. To solve this LC has placed copies of all f

[2016-05-26 15:18] VillageHubertChen opened #102 "Rendering all Images for V²Plan Board and Slide"
- [x] HC: Create List of Images
- [x] HC: Create description of Images
- [x] ML: Design Images, then take snap shot with real view of preview, whatever is faster and looks good enough
# List of Images that need Rendering
## Spreading
- [x] Snap
- Filename: Spreading.png
- 2 x Phoenix
- one with price on sale
- loud speaker
## Target
- [x] Snap
- Filename: Target.png
- Phoenix + Compass
- https://g

[2016-05-28 01:01] #102 closed, assigned to VillageHubertChen, VillageMichaelLin

[2016-05-28 01:08] #93 closed, assigned to VillageHubertChen

[2016-05-28 01:37] VillageHubertChen opened #103 "Complete V²Plan on Home Page"
- [x] Update progress bar to consistent design as in Plan System Articles
- [ ] Add 6 Book Images in Plan Slide →  Rendering all Images for V²Plan Board and Slide #102
- [ ] Change Campaigns in Slide to be Campaign 1 ... 3
- [ ] Change all GitHub Ribbons to show: "On" / Add all URLs accordingly / Test it works
- [ ] Set all readiness bars correctly
- [ ] update all links in footer

[2016-05-28 01:40] VillageHubertChen opened #104 "Add all Images to V²Plan Articles"
- [ ] Add all Images to all V²Plan Articles →  Rendering all Images for V²Plan Board and Slide #102

[2016-05-28 02:23] VillageHubertChen opened #105 "Broad cast feature"
- [ ] LC demo to HC how GitHub broadcasts new features. After that we go from there.

[2016-05-28 03:44] VillageHubertChen opened #106 "Epic►003►Move Plan Articles to V-Squared.github.io"
- [x] HC: Find article → [Building a Big Web Site on GitHub](#issuecomment-217838186)
- [x] HC: Update article with latest changes and impacts of this issue
- [x] HC: Add cross link to this issue, give it subtitle on why
- [x] HC: Write → Why to move Plan Articles to V-Squared.github.io Repository → below
- [x] HC: Write → Order of Content Development → below
- [x] HC: Document Page / Folder Struc

[2016-05-28 03:48] VillageHubertChen commented on #50
# New Progress Bar

# Same function as before
- 4 Progress Steps: Create, Develop, Beta, Make
- 3 States per Step: no entry = grey, is-complete = blue, is-active = orange
- 1 Tooltip per step: We will keep using the same ones)

# New Styling
- Looks like Material Design
- Design Metaphor: Representing a progress bar
- Material Design Layers with shadows:
  - Sticks out from under Book-Bar
  - Hove

[2016-05-28 08:22] VillageHubertChen opened #107 "Epic►007►Parent: Writing of Targets and Road Map"
# Road Map
- One Month Target (End of June)
- 3 month Target (End of August)
- 1 Year
- Fernziel

Foundation
Prepare Sales
Sales & Community Marketing

[2016-05-28 08:30] VillageHubertChen opened #108 "Off Canvas Bar is too slow on Mobile"
- it takes several seconds to open on our tablet
- after selecting a menu item it takes several seconds to load the page
- at the very least we need to show an instant feedback to motivate user to wait and not tab again
- Off Canvas bar also worked intermittently on Sascha's mobile: Nokia 750, Win 10, Edge

[2016-05-28 09:39] VillageHubertChen opened #109 "Is sometimes no Side Menu a Feature or Bug"
# How the situation began
- **No Side Menu:** https://v-squared.github.io/v2-Plan/
- **With Side Menu:** https://v-squared.github.io/v2-Plan/system/
- **Why we designed it this way:** The first book "Intro" has only one short Article. There is no need for a Table of Articles nor for a Table of Contents. As such we display none.
# Why Sascha thinks this is a bug

Sometimes the Side Navigation is av

[2016-05-28 15:34] LukasChen commented on #47
@VillageHubertChen. Please do a review and let me know if the positioning is good enogh :+1:

[2016-05-29 02:38] VillageHubertChen commented on #47
# Review:

**The Good:** Implementation of FAB is great. Thanks for going the extra mile to make it a two column layout. Great job! Also the menu prepositions itself depending on window width and scroll position. Impressive!

**The Bad:** You forgot to assign any functions to the buttons! So I moved this issue back to developing.

[2016-05-29 03:56] VillageHubertChen opened #110 "User Collapsable Menu & Status Bar"
- [x] HC: Test if this will help → I demoed the mobile size to various users and they preferred it over the desktop size.
- [x] HC, LC: Initial brainstorming if we try this feature → Yes
- [x] HC: Find Icon: → https://materialdesignicons.com/ search for "compress"
- [x] HC: Write User Story
- [x] HC: Write Features, Behaviors
- [x] LC: Implement → [Status Bar](#issuecomment-224785839)
- [x] LC: Im

[2016-05-29 06:53] VillageHubertChen opened #111 "Organize Labels"
- [x] Group all labels by means of {keyword} + {:} + {Label}
- [x] Give each label group the same label color
- [x] Reassign labels to columns in waffle board
- [x] Find types with single items and try to sort into groups. Ideally only groups remain.
- [x] Write a section about labels in Reference
- [x] after organizing labels in V-Squared.github.io then add same labels to V2-Production
- [x] docu

[2016-05-29 07:16] VillageHubertChen commented on #47
Good job in fixing remaining bugs!

[2016-05-29 07:16] #47 closed, assigned to VillageHubertChen

[2016-05-29 08:18] VillageHubertChen commented on #91
# Ideas for Future

## Movie on how to edit

Record a simple screen recording of complete steps on how to edit and Article and put it into the section "Simple and Fast"

[2016-05-29 09:50] #50 closed, assigned to LukasChen

[2016-05-30 02:16] VillageHubertChen opened #112 "Adding deep URL in Articles"
- [x] Clone → https://github.com/oblador/angular-scroll
- [x] Study how the script works. Try to reproduce and fix the problem
- [x] create a fork of scrolling script → https://github.com/oblador/angular-scroll
- [x] Fix that deep URL is not showing when clicking the link in table of contents in a rapid prototype
- [x] Minify angular scroll and host it in the fork on Lukas' GitHub account
- [x] Fi

[2016-05-30 05:03] #111 closed, assigned to VillageHubertChen

[2016-05-30 07:16] VillageHubertChen opened #113 "Board Structure: V² > Products"
# Tasks
- [x] Move → [Page Structure Production](https://github.com/V-Squared/v2-Production/issues/2) from v2-Production to this repository to match new structure
- [x] Write → Additional Information on Content in Production (below)
- [x] Fill in remaining Page Structure of Board "Products". Keep it consistent with the 6 tiles in the Production Slide Show on the Home Page
- [x] Mark Pages needed f

[2016-05-30 08:43] #113 closed, assigned to VillageHubertChen

[2016-05-30 08:47] #82 closed, assigned to VillageHubertChen

[2016-05-30 08:49] #78 closed, assigned to VillageHubertChen

[2016-05-30 08:50] #80 closed, assigned to VillageHubertChen

[2016-05-31 03:19] VillageHubertChen opened #114 "Use new version of angular-scroll"
- we are using a custom modified version of → https://github.com/oblador/angular-scroll
- [ ] read all about it → #112
- [ ] after angular scroll folks include the pull request, load their script again in our site

[2016-05-31 03:23] #112 closed, assigned to LukasChen

[2016-05-31 04:25] VillageHubertChen opened #115 "Kick of Cooperation V²Shop-Midwest"
- [x] Getting in touch skype call Friday night Bobby return to Las Vegas
- [x] Schedule conference Monday 9:30 pm. Invite all parties.
- [x] Prepare Letter with proposal on how to start working together → https://trello.com/c/0MIu5uOw/6-kick-off-working-together
- [x] Conference 9:30 pm
  - [x] Present each other's targets
  - [ ] Develop together a Win-Win scenario plan on how to work together →

[2016-06-01 00:48] #115 closed, assigned to VillageHubertChen

[2016-06-01 03:40] VillageHubertChen opened #116 "Meet►Sprint►W22 for V²Shop-Midwest 2016W23"
- [x] What is the comment on V²Site and Plan → In general you are happy with it
- [x] Add Tom's GitHub account → tcaswelch
- [x] Add Karen's GitHub account → kcaswelch
- [x] Review [Building a Big Web Site on GitHub](https://github.com/V-Squared/V-Squared.github.io/issues/48#issuecomment-217838186) → Seems Straightforward. Wishlist seems OK.
  - Question about Angular Apps:
- [x] Review → #106 (pa

[2016-06-01 04:12] VillageHubertChen commented on #106
# All steps: Plan → V-Squared.github.io
- [x] request anyone to stop contributing to V²Plan for today
- [x] Pull the entire code repository of v2-Plan
- [x] Move the entire code entry to V-Squared.github.io repository
- [x] resolve any identical folder conflicts.
  - [x] If you do not know how to resolve or takes longer than 30 minutes talk to HC
- [x] upgrade board-bar.yml file to contain the boa

[2016-06-01 04:15] VillageHubertChen commented on #106
# New Jekyll Folder Structure

[code]

[2016-06-01 04:17] VillageHubertChen opened #117 "Epic►012►Parent: Creating V²DIY Board 2016W23"
# Gated by Items:
-  [x] BC: Epic►011►Parent: Page Structure for V²►DIY #122
## Unraveling too many dependencies to stop gating
- DIY Article have no dependencies to Configuration Data Structure
- DIY Articles > 50% finished
- DIY Article structure is pretty finished

**Conclusion:** We begin ASAP to create DIY Pages and move DIY pages from Wiki to Code. This way Bobby can start writing ASAP. Once

[2016-06-01 11:18] LukasChen commented on #106
# Problems of moving v-squared.github.io

## Everything in intro is in the index.html file

[2016-06-01 12:53] VillageHubertChen commented on #98
# Intensive rewrite based on Bobby's review

## Things I added as we discussed
- ViCase Promotion
- Previews ViCase
- Reviews ViCase

## Things I added different than we discussed

### New place for DIY Articles

I found that I made a big error: The DIY PC and Configuration PC Articles do not belong to the V²►Spreading►Know-How section. They belong to V²DIY, which is a dedicated board for these Ar

[2016-06-02 01:42] VillageHubertChen commented on #48
# How I'm using Jekyll (Developer)

[2016-06-02 01:43] VillageHubertChen commented on #48
# How I'm using Jekyll (Content Creation)

[2016-06-02 01:45] LukasChen commented on #48
# How I'm using Jekyll (Developer)

[2016-06-02 01:55] VillageHubertChen commented on #48
# Content Creation Workflow

# Consider to use the Wiki for Incubation like this
- Side Bar Navigation is more convenient
- More exposed to bleeding edge readers
- Browsing and reading feels more comfortable than this issue
- Wiki offer browsing experience just as placement on V²Site
- Wiki make it 10 x faster to move Article structure within the series
  (Once articles are published on V²Site it

[2016-06-02 12:11] VillageHubertChen opened #118 "Adding V²Shop-Midwest members as V² GitHub Contributors"
- [x] KC: Create GitHub Account Karen
- [x] TC: Create GitHub Account Tom
- [x] HC: Invite Karen and Tom. Add them to the teams: Community & Production → [Adding organization members to a team](https://help.github.com/articles/adding-organization-members-to-a-team/)
- [x] KC: Accept Invitation
- [ ] @bcaswelch Please assist your parents to complete the steps outlined below. Once step also remains

[2016-06-02 12:25] VillageHubertChen opened #119 "Turn on Two Factor Security"
- [ ] Read up how it works, why we need it
- [ ] Turn it on
- [ ] Check that the warning triangle disappears → https://github.com/orgs/V-Squared/people

[2016-06-02 14:16] VillageHubertChen opened #120 "Logo Customization"
# Tasks
- [x] BC: Trigger HC to come up with a customization project
- [x] HC: Write User Stories
- [x] HC: Propose a Price List
- [x] HC: Write Manufacturing Processes
- [x] BC: Give feedback to User Stories in comments. We shall only continue if you guys think you can sell this
- [x] BC: Buy sample material: 1.5 ... 3 mm strong sheet aluminum. Sand blasted, anodized black.
- [x] BC: Create a V²S

[2016-06-02 16:22] VillageHubertChen opened #121 "Choosing and Building first ViPC Configuration"
# Gated by
- [ ] →  Epic►014►Parent: Write Custom PC Configuration Articles #135
# PSU Options
- Gold Flex ATX 300 W
- 250W HDPlex plus DELL 240W Notebook Brick
# Config
- Update GTX 750 Config from Config Article
- Check out workstation config
- two GPU options: GTX 750 Ti  / K1200
- [x] Build a configuration here in markdown with amazon shopping list
- [ ] Trigger HC for review this evening your

[2016-06-03 01:03] bcaswelch commented on #121
# Tasks
- [x] BC: Create updated config
- [x] HC: Review proposal, create to do list on how to clean up
- [ ] BC, HC: Brainstorm on Base Configuration and Variation Configs for this PC
- [ ] BC: Add Missing Parts as per → below
- [ ] BC: Clean up table as per my example → below
- [ ] HC: Writing an Article on rules how to pick a configuration
- [ ] HC: Create an Article on this in the new DIY Sect

[2016-06-03 01:22] bcaswelch commented on #98
R&U, I'm OK with all of the new changes to the campaign. At some point in the future lets talk about the blog, its going to be MUCH easier talking to the community through social media they already use like Facebook and Twitter than it will be trying to convince people to use yet another online blog.

[2016-06-03 01:53] bcaswelch commented on #120
I'll bring a sample to Full Spectrum Laser (company Karen is with). They have many examples of laser cutting on metal with a very clean finish.

This is a great idea that I think people will like; between this and the lighting people will have a lot of flexibility in how they present their ViPCs. This is important to many people who want to show off their powerful computer :)

[2016-06-03 02:01] VillageHubertChen commented on #120
1. Great.
2. Take pictures when you are there and publish here, or find pictures on their site and publish here or link to their site. If not too many different samples, publish all, even the ones you think you will not want to use.
3. Together we will then discuss on how to modify the ViCase design to use them.
4. I am reading between the lines here, but do you confirm now you want to go for the

[2016-06-03 02:07] VillageHubertChen commented on #98
1. Thanks for the review. Going to implement it now
2. Future use of the Blog and Social Media: I totally agree your comment and this is actually our current strategy of using social media: We blog everything in our blog. We will categorize each post. We will classify each social media to have a focus. According to content of the blog post we will re-post it on the matching social media
3. Our blo

[2016-06-03 02:09] bcaswelch commented on #120
Why not a laser cut directly onto the top cover? This will be simpler to manage and make it more personal.

[2016-06-03 02:12] bcaswelch commented on #98
Ok, this makes a lot of sense. Using both hand in hand won't bring any negatives and if people decide of read ours, good for us :)

In full support of this decision.

[2016-06-03 08:03] VillageHubertChen commented on #121
# Brief of our Skype Call

# Update on Disks

## NVME is still seems more expensive

Above Samsung SSD is SATA not NVME. The [256GB NVME](https://http://www.amazon.com/SSD-NVME-950-PRO-256GB/dp/B015SOI392/) is $180. That makes NVME SSD still a significant premium over SATA SSD. Before making final choice need to check in detail

# Develop two Base Configuration

## Entry Level

This should be very

[2016-06-03 08:05] bcaswelch opened #122 "Epic►011►Parent: Board Structure for V²►DIY 2016W23"
# Tasks
- [x] Create Issue
- [x] Create Page Structure, start discussing with HC
- [x] HC: Use this page as brain dump for any related ideas on pages or partial page content
- [x] Find → [DIY Article in Wiki](https://github.com/V-Squared/v2-How-to-DIY-Mini-PC/wiki)
- [x] Move → "Bobby's notes on Article Topics" to comment at the bottom
# Debt Documentation
## Not all Page Structure is finished

We

[2016-06-03 08:07] VillageHubertChen commented on #120
The answers are in my previous writing:
1. Higher shipping cost (may not be relevant if using your mothers firm)
   1. Shipping both ways
   2. Larger items
2. Burn marks. Every image of metal after laser cut that I have seen had burn marks. They cleaned it either by sandblasting or brushing. In this case it can not be done, as the top cover is already anodized.

Your next step must be to see a sa

[2016-06-03 09:36] VillageHubertChen opened #123 "Refactoring V² Home Page"
# Tasks
- LC: [ ] Implement _Features_ as described below
- LC: [x] Implement _Big Picture Tabbed Slide Show_ as described below
- LC: [x] Fix Bugs in _Big Picture Tabbed Slide Show_ as described below
- LC: [ ] Trigger HC for review
- HC: [ ] Review
# Latest Terminology

We are splitting the Home Page into 3 Sections:
1. Features → presentation via feature layout
2. Big Picture → presentation via

[2016-06-03 09:53] #106 closed, assigned to LukasChen

[2016-06-04 01:42] VillageHubertChen commented on #98
Thanks for your feedback. That's what we were thinking. We will make it so.

P.S. Jekyll's key purpose is blogging. It is supposed to have tools to help automate re-blogging. We will look into this once we get there ...

[2016-06-04 01:53] bcaswelch commented on #121
| Type | URL | Price |
| --: | :-- | --: |
| Motherboard | [Gigabyte Z170 ITX](http://www.amazon.com/Gigabyte-LGA1151-Mini-ITX-Motherboards-GA-Z170N-Gaming/dp/B014W2000Q?) | $155 |
| CPU | [Intel 6700k i7 4.0ghz](http://www.amazon.com/Intel-Boxed-I7-6700K-Processor-BX80662I76700K/dp/B012M8LXQW?) | $355 |
| SSD | [Samsung 850 Pro 512 PCIe](http://www.amazon.com/Samsung-950-PRO-Internal-MZ-V5P512BW/

[2016-06-04 02:03] VillageHubertChen commented on #121
## PSU Config

I am thinking to make the default PSU the 300W Flex ATX Gold. This PC can not reach the _Silent_ class anyways because of GPU Cooler and CPU Cooler. Having the little noise of the Flex ATX in this context should not be disturbing. I hope you can tell me on Monday when you receive the Flex ATX GOld PSU and can test how quiet it is in real life.

[2016-06-04 02:05] VillageHubertChen commented on #121
## Great Job on Clean Markdown Table

Great Job! Keep up the good work :+1:

[2016-06-04 02:10] VillageHubertChen commented on #121
## Discussing Workflow in Issues

### Current Style

My current style of working on issues was to go back into a made post and update it. But I am realizing this has several drawbacks:
1. You and other contributors can not do that due to different privileges. So we would have two workflows for two classes of people. That is bad. I should work the same way as you and lead by example.
2. It is easy

[2016-06-04 02:18] #23 closed, assigned to VillageHubertChen

[2016-06-04 02:20] bcaswelch commented on #121
So this new approach would have all new information through comments instead of updating current information? I'm fine with that.

Also, I agree with the 300w Flex. It would be nice to get the HDPLEX working with this system, but its too risky. 300w will give more than enough for the specs.

[2016-06-05 01:54] bcaswelch commented on #122
[code]

[2016-06-05 02:48] VillageHubertChen commented on #121
## New Workflow

Exactly, simply put new information as new comment on the bottom. If you need to update existing one, copy it to a new comment, then edit it, then post it.
 → Please confirm that you can access the markdown source code of comments I wrote ?

## Power for High End Workstation

Using the HDPLEX is not risky at all. Michael has this configuration and he is running it safely for a yea

[2016-06-05 02:53] VillageHubertChen commented on #121
# Noise Level Article and Testing

I will create an Article on this Topic. After you edit it and agree on the structure you and Tom will make testing of the noise levels of the different configuration. Then we have much better idea on how to explain and promote it to the customer and how to choose PSU for what kind of configurations

[2016-06-05 03:04] VillageHubertChen commented on #122
# Add to top comment:

# Reference
- Page Structure: V²►Products #113
- Page Structure for V²►Plan #78
- Page Structure of Organization #80
- Page Structure for V²►Spreading #82
- Page Structure for V²►DIY #122

[2016-06-05 03:19] VillageHubertChen commented on #122
## Please find places for the following Articles:
- Definition, Testing and Importance of 6 Quiet Levels
- Power Options V²Case
- Configuration Testing Procedures
- V²Case Burn In Procedures
- V²Case Software Installation Procedures
- Troubleshooting your PC
- Optimizing your Workstation for Speed
  - Procedure of Configuration Comparison Benchmarking
  - Best Custom PC Configuration for 3D Design

[2016-06-05 07:11] VillageHubertChen opened #124 "Epic►008►Parent: Legal Protection of IP"
# Tasks
- [x] TC, BC, HC: Brainstorm Legal protection of IP
- [x] HC: Write → Business Model → below
- [x] HC: Write → Legal Protection of Intellectual IP → below
- [x] HC: Write → Legal Protection of Business Model → below
- [x] HC: Create Issue
- [x] SL: Review and brainstorm
- [x] HC: Include SL feedback
- [ ] GI: Review and brainstorm
- [ ] KC: Read and write feedback to → Business Model → bel

[2016-06-05 07:12] VillageHubertChen commented on #124
# Business Model V² Core Organization
- Non Profit Community Owned Organization
  - Community Owned: Independant from Industry
  - Servicing: User, Press, OEM, Retailer
  - Non Profit: Keeps cost low and keeps us independant
    - Provides Tax benefits: Keeps cost low
    - Provides Tax benefots to buyers: increase sales of TBP
- Give away the Open Source Standard
  - Pros: Important for V² Standa

[2016-06-05 07:13] VillageHubertChen commented on #124
# Legal Protection of Intellectual IP

## List of Known Threads requiring Legal Protection
- Another Standard Organization copies our work and claims it to be their own
- Another company claims Trailblazer Product Design and protects it with patents, copyright and other legal tools

## Protecting V² Open Standard IP

### Protecting Standard

Best protection as far as we can see is to publish the s

[2016-06-05 07:37] VillageHubertChen commented on #124
# Protection of V² Business

## Legal Protection of V² Business

If we can protect against the "Known Threads" then our Business should be protected. See above
- [ ] Research if their are other threads not listed yet

## Protection through Win / Win Business Scenarios

## Protection vs low cost copy cats

[2016-06-05 08:13] VillageHubertChen commented on #124
# Objectives
- Help sales
- Help awareness
- Do not hurt sales
- Deliver standards early, as V² Mission is to deliver the missing standards
- Do not hinder OEM to start using V² Standards ahead of schedule
- Protect Revenue Stream of V²Core
- Protect IP of V²
- Motivate Press to promote V²

[2016-06-05 10:39] VillageHubertChen commented on #124
# Proposed Label Design ViCase Mini G2v1 (v1)

## Open Source / Compatibility
- V² Logo
- Free and Open Source Modular PC Standard
- V² Compatible: http://v-squared.github.io/

## Village Tronic Proprietery
- Phoenix Logo
- www.villagetronic.com/products/vicase-mini
- Pat. No:
- Registered Design No:
- USA Protection No:
- Production Run No:
- Serial No:
- Warranty: 10 Years
- Manufacturing Year:

[2016-06-05 12:05] VillageHubertChen opened #125 "Epic►010►Parent: V²DIY User Stories / Data Structure / Apps"
- [x] HC: Write → Problems to solve → below
- [ ] HC: Write → User Stories → below
- [ ] HC: Write → Workflows → below
- [ ] HC: Write → Alternative Sources for Parts → below
- [ ] HC: Write → Layer Model → below
- [ ] HC: Write → Data Model and Usage → below
- [x] HC: Write → Apps → below
- [x] HC: Write → Compatibility Rules → below
- [x] HC: Write → Alternative Marketplaces → below
- [ ] HC: Wr

[2016-06-05 12:47] VillageHubertChen commented on #125
# Problems to Solve (v1)
- Redundant data for _Config Articles_ and _Configurator_
- Markdown code is hard to read for writer
- Limited layout capabilities
- No _Revision Management_ for _Data_
- No _Approval Workflow_
- No _Parts Specs_
- No _Alternative Vendors_ for same _Part_
- No _Relational Data_
- No _Alternative Parts_ to same _Part Specs_
- No _Alternative Markets_

[2016-06-05 12:48] VillageHubertChen commented on #125
# User Stories (v1)

[2016-06-05 12:48] VillageHubertChen commented on #125
# Workflows (v1)

[2016-06-05 12:48] VillageHubertChen commented on #125
# Alternative Sources for Parts (v1)
- keys for countries, market options, MOQ, availability, pricing
- Part search phrase for market places

## Relation Ships
- Part Specs --< Parts
- Part --< vendor parts
- Part Specs --< vendor parts (via parts) why

[2016-06-05 12:49] VillageHubertChen commented on #125
# Layer Model (v1)
- [ ] Create Overview Table
- [ ] Fill out text in chapters below

## Range Config (High End, Mid Range, Entry Level)

## Model Config (ViPC-750, ViPC-1200, ViPC-1, ...)

## Revision Config (ViPC-750v1, ViPC-750v2, ViPC-1v1, ...)

## Customer Config (ViPC 750 v1-Sascha.Link)

## Market Options (Newegg, Amazon, Amazon de, etc ...)

[2016-06-05 12:49] VillageHubertChen commented on #125
# Data Model and Usage (v1)
- [ ] Finish Data Model
- [ ] Finish Data Usage

# Data Model
- Config --< Part
  - Used in Configurator to load Configuration
- Base Config >-< Part Spec
- Part >-< Vendor
- Part Spec --< Part
- Range Config
- Base Config
- Config
- Part

# Data Usage

Benefit of this system is to have a singular place to store configuration specs and data versus to spread them across

[2016-06-05 12:49] VillageHubertChen commented on #125
# Apps (v1)

## How to work while Apps not ready

Each app outputs a specific json file. Until the app is ready the json file the shop admin need to edite this file by hand. Even this is a big improvement over now, as the json file is easier to edit the a complex markdown table (given you use a json editor). Another big improvement is that you need to enter the data only once, versus now you would

[2016-06-05 12:49] VillageHubertChen commented on #125
# Compatibility Rules (v1)
- No Rules on Admin Level. Admin needs to know what he is doing
  Each configuration change on admin level should be double checked with a second expert
- Applied rules (although applied by a person) need to be documented by admin
  - this is the precursor to automate these rules in the corresponding app
  - Admin should write notes how later rules can be automated
- Cus

[2016-06-05 13:09] VillageHubertChen commented on #125
# Alternative Marketplaces (v1)

# First supported Market Place
- Amazon US

# List of Future Market Places
- Newegg US
- Newegg Taiwan
- Newegg China
- Amazon UK
- Amazon DE
- Atelco DE ?
- ???

[2016-06-05 13:59] VillageHubertChen commented on #125
# Implementation / Technologies (v1)
- [ ] Finish writing of this comment

# Philosophy workflow Relational DB in JSON
- Write data into JSON file using JSON editor
  - Masks
  - Linting
- Use Angular App to generate the next layer JSON file
  - Copy paste result from App and save on GitHub
- Repeat process until final layer

# Data Structure just as in relational DB
- Data is stored in flat table

[2016-06-05 15:01] VillageHubertChen commented on #122
Hi Bobby, please finish this before Monday evening your time.

[2016-06-05 15:11] VillageHubertChen commented on #124
# Enforcing Legal Protection

# Seek Win - Win first

## Always seek mediation first

Enforcing legal protection always comes at the cost of negative karma. As such we should try hard to avoid it. Prior to enforcing we should try mediation. If we can reach a win - win agreement, the better for all.

## Some companies only react to legal enforcement

If mediation failed and the remaining choice is

[2016-06-05 15:24] VillageHubertChen commented on #124
# Create Rules that create desired behavior

## Desired behavior
- Do not copy Trailblazer Product design within Grace Period
  - ViCase products use a protected design by Village Tronic
- Do create V² compatible products with your own design
  - If so, need to reference to V² Site
- Protect your design of V² Standard
- Do not claim V² Standard to be your creation
- Do not claim your products are

[2016-06-06 08:35] VillageHubertChen opened #126 "Luxury ViCase-Stand"
- [x] BC: Find items that match below purpose and description. Place the links into a comment. Trigger HC for review
- [x] HC: First review → failed. See my comment below your post
- [x] BC: Make new search based on my feedback or brainstorm with me what to do next.
- [ ] HC, BC: discussion if we want one
- [ ] BC: Buy a sample
# Purpose

Add luxury height and tilt adjustments to ViCase-Stand
# It

[2016-06-06 09:23] VillageHubertChen opened #127 "ViCase Accessory Video G1"
- [x] HC: Record Video of →  Video Review (0b) V²Shop-Midwest #43
- [x] BC: Propose in Comment on how to transfer. Currently Google Drive is blocked. It is 250 GB
- [ ] BC: Propose in Comment who will edit the video, makes an index to it. Where to publish if we do not do this publicly?
- [ ] after we come to conclusion of above, we make task list on how to proceed.
- One thing to do would be to us

[2016-06-06 09:40] VillageHubertChen commented on #120
Update by talking with Karen: Her company has Laser that can both engrave and cut Aluminum. These are Fiber Laser which leave no burn marks. Since in this case also the transportation cost are not relevant, engraving the customer's logo directly onto either _Top Cover_ or _ViCase-Access_ is all: Looks most elegant, easiest to do, lowest cost. Next step to do is to make samples:

Make a nice V²Shop

[2016-06-06 09:48] VillageHubertChen commented on #120
# Target for this sprint

Picture of Laser engraved logo on sample aluminum, sandblasted, anodized, black

[2016-06-06 09:53] VillageHubertChen commented on #118
Dear Bobby,

Please clean this one out today! It is so simple and small issue, but it cluttering the Sprint board since days!

[2016-06-06 10:37] VillageHubertChen opened #128 "Bug: Fix redundant V²Plan to avoid data loss! 2016W23"
- [x] HC, LC: Analyze the bug and report it here
- [x] LC: Fix it
- [x] LC: The edit button of new place does not open proper Article. Needs fix.
- [x] HC: Move content I have edited to the new pages
- [x] HC: check that it is fixed, then close issue
# How the Problem Shows
- I used a bookmark to go to: http://v-squared.github.io/v2-Plan/dashboard/
- I edited the page
- I reloaded the page and che

[2016-06-06 10:51] VillageHubertChen opened #129 "Meet►Sprint►W23 for V²Shop-Midwest 2016W23"
# Preparing
- [x] HC: Create Focus this week in Dashboard
  - [x] LC:  → Bug: Fix redundant V²Plan to avoid data loss! #128
  - [x] HC: Move content to correct address → http://v-squared.github.io/plan/dashboard/
- [x] HC: Archive all closed issued in both Scrum Boards
- [x] HC: Review issues in _Developing_ and find the ones that the Assignee forgot to close
- [x] HC: Transfer all notes into issu

[2016-06-06 12:34] #128 closed, assigned to LukasChen

[2016-06-06 12:39] #116 closed, assigned to bcaswelch, tcaswelch, kcaswelch

[2016-06-06 13:21] VillageHubertChen commented on #122
- [ ] Replace the Gamer → Software Developer (in Page Structure)

[2016-06-06 14:23] VillageHubertChen commented on #122
# Brain Dump►Generations Configurator and Configurations

## G1
- Config Article and Configurator use redundant data
- Layout in Config Article is hard to read for user
- Markdown Code is hard to read for writer
- Code in Configurator is not clean
- Configurator is written in Angular 1.3

## G2
- Config Article and Configurator use singular data (JSON)
- Powerful Layout. New "Include Method"
- Mar

[2016-06-06 14:46] VillageHubertChen commented on #122
# Definition, Testing and Importance of 6 Quiet Levels
- [ ] Find a spot in the Page Structure of DIY
- [ ] Create an Article on this topic
- [ ] Move existing writing to there
- [ ] Edit / review / brainstorm
- [ ] BC, TC: Testing and recording of noise of configs

[2016-06-06 14:46] VillageHubertChen commented on #122
# Proposed Top Level Change

## Current Top Levels
- DIY Pages
- Configurations

## Proposed Top Levels
- Ready Made Configurations
- Optimizing a Custom PC for Performance
- Optimizing a Custom PC for Cooling and Noise
- PC Assembly
- SW Installation & Updating
- PC Trouble Shooting
- DIY PC Know How

## Question

What would you think about User Stories? Belong in here or in the products section?

[2016-06-06 15:31] VillageHubertChen opened #130 "Automatic Table of Contents Converter"
- [x] Write User Story
- [x] Find initial references
- [x] Find and link reference Articles on this topic
  - Kramdown Specs
  - Made Mistakes
  - others
- [x] Implement
- [x] Test
- [x] LC: Implement → [Version 02](#issuecomment-234975466)
- [ ] LC: Implement → [Version 03](#issuecomment-235170616)
- [ ] Document
  - Add documentation similar to our other dedicated code repos
# User Story

As a *

[2016-06-06 16:18] VillageHubertChen opened #131 "Shipment 001 V²Core → V²Shop-Midwest"
# Tasks
- [x] HC: Create Proposal of contents of shipment
- [x] TC: Please write your shipping address into the comment
- [x] TC, BC: Check if you want anything else, trigger BC and KC to check too
  - write the result into comment. This will trigger me to begin prepping the shipment
- [x] ML: Create Order in Taobao. Trigger HC approval before order
- [ ] ML: Prepare shipment, trigger HC for revie

[2016-06-06 16:27] VillageHubertChen opened #132 "Evaluate HD-Plex PSU"
# Tasks
- [x] HC: List the PSU to buy
- [x] HC: Write project
- [x] @bcaswelch Please: 1) Ask Tom to accept the V² Invitation. 2) Ask him to work on this issue
- [x] TC: Buy above PSU (2 x AC, 2 x DC) from HD-Plex
- [x] ML: Make the snaps and put to this folder: `\\MINI-PC\Users\Mini\Documents\Production\ViCase\G2\ViCase\Case\Sample-Gold\Documentation\Snaps\RAW`
- [x] HC: Process the snaps and upl

[2016-06-06 16:42] VillageHubertChen opened #133 "How to set up Shop for ViPC Testing"
Find Books for Tom to read: Toyota Kata & Production Flow
Write general instructions on how to set up shop
Relate gating to sprint after this one, where the shop is used to assemble the ViPC. Pictures are taken as an example and will be used for marketing.

[2016-06-07 01:14] VillageHubertChen commented on #122
# Optimizing a Custom PC for Cooling and Noise
- Speedfan
- V²Panel MCU
- 3 Chamber Airflow
- Noise Measurements

## Work for Speedfan
- [ ] HC: Find writing in Trello
- [ ] HC: Create Page Locations
- [ ] HC: Create Pages
- [ ] HC: Mover Writing from Trello to V²DIY Pages
- [ ] BC: Repeat Configuring Speedfan for his workstation
- [ ] BC: Work with Author to make Speedfan autoboot

[2016-06-07 02:44] VillageHubertChen commented on #122
# Urgent: Confirm → Proposed Top Level Change

See the comment above. As per our latest phone call we will then try beginning in two hours today to implement all Top Levels (Books) and then implement all Articles in the Book: "DIY Custom PC Know How" and subsequently copy all Articles from the Wiki pages. This way if all goes well tomorrow you can be writing.

[2016-06-07 02:48] bcaswelch commented on #122
Yep, im ok with the change.

[2016-06-07 03:24] VillageHubertChen opened #134 "Epic►013►Parent: Write DIY Custom PC Know How Articles"
# Gated by
-  Epic►012►Parent: Creating V²DIY Board #117
# Tasks
- [BC] Complete each Article that HC began. Work one Article at a time. After completion trigger HC for review and then start the next one

[2016-06-07 03:29] VillageHubertChen opened #135 "Epic > 014 > Parent: Write Custom PC Configuration Articles"
# Gated by
- [ ]  Epic►013►Parent: Write DIY Custom PC Know How Articles #134
# Tasks
- [BC] Complete each Article that HC began. Work one Article at a time. After completion trigger HC for review and then start the next one

[2016-06-07 03:36] bcaswelch commented on #122
[code]

[2016-06-07 03:38] bcaswelch opened #136 "Golden Sample ViCase Changes (Moved! Do not work in here!) 2016W23"
Moved → [ Create Last Engineering Change List #44 ](https://github.com/V-Squared/v2-Production/issues/44)

**Possible changes**
1. Make changes to dust filter connector. Use magnetic strip to connect to cover? Many cases currently do this and is well received.
2. Is the bottom cover easily removable? This could be important for users to replace hard drive.
3. Braces for the outer shell (less squis

[2016-06-07 04:47] #129 closed, assigned to VillageHubertChen

[2016-06-07 05:58] VillageHubertChen commented on #127
I can not use https://www.dropbox.com/ it is blocked too!

[2016-06-07 06:25] VillageHubertChen commented on #136
Dear Bobby,

First of all thank you for compiling the Engineering Change List.

Unfortunately this is not the right place. This is: →  Create Last Engineering Change List #44

Remember I introduced it in the Sprint Kick Off meeting today. It is in the column: "This Sprint" of https://waffle.io/V-Squared/V-Squared.github.io

Please do the following:
- [ ] Copy paste your original text as new commen

[2016-06-07 07:17] VillageHubertChen commented on #122
# Defining DIY Board
- **Board-Bar Name:** DIY
- **Board Name:** V²DIY Workstation PC
- **Board Subtitle:** How-to and Know How Articles and Tools to optimize, build, upgrade and fix your Custom Workstation PC.

[2016-06-07 11:10] VillageMichaelLin commented on #132
# Checking the dimensions of the HD-Plex PSU

## Instructions how to check
- **Check every dimensions:** You need to measure every dimension of the real product. Please note any discrepancy.
- **Measure the one with Questions Mark twice:** We guessed these dimensions. So your measurement need to be extra careful, as they are the only reference with no double check.
- **Unit:** mm

## 80W AC-DC pic

[2016-06-07 11:35] VillageHubertChen commented on #122
# DIY Books

| Menu | Subtitle |
| --: | :-- |
| Configs | Ready Made Workstation Configurations |
| Optimize | How to Optimize Workstation PC Performance |
| Cool | How to Make your PC Cool & Quiet |
| Assemble | How to Assemble a Workstation PC yourself |
| AiO | How to Build an All-In-One Workstation |
| Install | Software Installation & Updating |
| Fixing | How to Fix Your Workstation PC |
|

[2016-06-07 13:15] VillageHubertChen commented on #122
# Parts Articles

| Menu Name | Article Name |
| --: | :-- |
| Introduction | How to choose Workstation PC Parts |
| Boot Disk | How to choose the Boot Disk |
| Data Disks | How to choose Data Disks |
| RAID Disks | How to choose RAID Disks |
| Motherboard | How to choose the Motherboard |
| CPU | How to choose the CPU |
| DRAM | How to choose the Memory aka DRAM |
| Operating System | How to choo

[2016-06-07 13:16] VillageHubertChen commented on #122
# Comparison Review Articles

| Menu Name | Article Name |
| --: | :-- |
| Introduction | Comparisons Assisting in Buying a Workstation PC |
| Workstation Comparison | Comparison Review of Workstations up to $4000 |
| Custom PC Comparison | Comparison Review of Custom Build PC up to $4000 |
| Mac Mini Comparison | ViPC Mini PC versus Mac Mini Comparison Review |
| ViCase Generations | Comparison R

[2016-06-07 13:53] VillageHubertChen commented on #48
# Page Structure & Menu System

## Page Structure of V²Plan as Tree Diagram

When developing the content for a board we first develop its page structure with a text based tree diagram. This can be done with any text editor when set to mono spaced font, such as _Courier_. Below is a snapshot of the tree as developed in →  Page Structure for V²►Plan #78 .

The three vertical lines represent the thre

[2016-06-07 21:40] bcaswelch opened #137 "V² > DIY > Parts > CPU"
# Tasks
## Create

Creating Infrastructure, Titles and Basic Article Content.

https://github.com/V-Squared/V-Squared.github.io/issues/141
- [x] [Create Article Issue](https://github.com/V-Squared/V-Squared.github.io/issues/141#issuecomment-224530286)
- [x] [Insert DIY Article Issue Template](https://github.com/V-Squared/V-Squared.github.io/issues/141#issuecomment-224551488)
- [x] [Set Title, Subt

[2016-06-08 01:31] bcaswelch opened #138 "V² > DIY > Intro > Intro"
# Change to Auto Index
# Sort in issues below
# Generic Tasks
## Create
- [x] Create issue to this article with _Path_ in issue name
- [ ] Copy article from → [Wiki Pages](https://github.com/V-Squared/v2-How-to-DIY-Mini-PC/wiki)
- [ ] Set _Readiness_ to _Create_
- [ ] Clean up Kramdown Code
  - [ ] Add lines between headings
  - [ ] Add lines in front of code blocks, such as tables
  - [ ] Change

[2016-06-08 01:46] VillageHubertChen commented on #137
# Bobby reported problem of Table formatting

I fixed the two problems. It is very easy to do:

## Problem 1: Table does not render like table but as messy text

You must have a leading empty line in front of the table, see Code Example.

## Problem 2: Table Styling is not nice

You need to add a class to the table, see Code Example.

# Code Example

### Bad Kramdown

[code]

### Good Kramdown

[c

[2016-06-08 02:33] VillageHubertChen commented on #137
# Please give feedback to Tasks

@bcaswelch I created a template for tasks for an Article. It is very structured, helping everybody (Author, Editor, Reader, Agile Team Member) to keep an overview of where the progress is on the _Article_. It also ensures that certain tasks won't be forgotten.

Please give me either an OK or a _Change List_ in your comment. Then I will use this as template for all

[2016-06-08 03:24] VillageHubertChen opened #139 "V² > DIY > Intro > Custom-PC"
# Tasks
## Create
- [x] Create issue to this article with _Path_ in issue name
- [x] Copy article from → [Wiki Pages](https://github.com/V-Squared/v2-How-to-DIY-Mini-PC/wiki)
- [x] Set _Readiness_ to _Create_
- [ ] Clean up Kramdown Code
  - [ ] Add lines between headings
  - [ ] Add lines in front of code blocks, such as tables
  - [ ] Change URL in tables to use _Referenced Links_
- [x] Link Iss

[2016-06-08 03:32] VillageHubertChen commented on #137
# Can you tick task boxes?

@bcaswelch Please test and report to me if you can tick the boxes in tasks in the top comment?

[2016-06-08 03:46] VillageHubertChen commented on #48
@bcaswelch Please review above documentation and let me know if clear

[2016-06-08 04:42] VillageHubertChen opened #140 "Increase Container Width on V² 2016W23"
- [x] HC: Write User Story
- [x] Implement
- [x] Self Test
- [x] Trigger HC for testing
- [x] HC: Final test, close issue
# User Story

As a **Power Reader** of V² Articles I have a big screen and I am using _Article-Bar_ and _Contents-Bar_. Before you increased the _Container Width_ my Article Width was simply too narrow. This was annoying, as I had a big screen where space was wasted left and ri

[2016-06-08 05:48] VillageHubertChen commented on #136
# Please do above ASAP

@bcaswelch This is gating Golden Sample. Please make a habit that in the morning when you begin and in the evening you each time clean out your notifications. I do. I guess you should feel how my fast responses make you work smooth. In turn that you are slow on responding to notification makes our work slow and delays Golden Sample.

[2016-06-08 05:57] VillageHubertChen commented on #122
# Bobby's notes on Article Topics

This has been moved from his top comment
- Choosing the right parts
- Which CPU for your needs?
  - Difference between i5 and i7. Gaming vs. Rendering
- Which GPU for your needs?
- GTX vs. Quadro.
  - Gaming vs. 3D modeling performance
- Turning ViPC into an AiO
- Importance of memory
- Importance of drive speed

[2016-06-08 06:02] bcaswelch commented on #136
Ok, commented. I'll do better with managing notifications

[2016-06-08 06:03] VillageHubertChen commented on #122
# Closing Issue with Debt

## Debt Documentation

### Not all Page Structure is finished

We will need to go back in here and open this issue once we do other books. At that time I need to read all comments again, as information is spread out in creative chaotic and brain dump fashion.

### Need to create final Page Structure Tree

Not done yet. Currently we work in agile fashion that we have enou

[2016-06-08 06:03] #122 closed, assigned to bcaswelch

[2016-06-08 06:03] bcaswelch commented on #122
Sounds good.

[2016-06-08 06:12] bcaswelch commented on #140
Bigger container is good, but a lot of people read on their tablets which use a narrower screen. Won't be an issue though due to the responsive design.

[2016-06-08 06:47] VillageHubertChen commented on #122
Thanks for the handshake comment to my last comment. If you can keep this habit will be great, then I know you got it.

[2016-06-08 06:49] VillageHubertChen commented on #140
Exactly! This added feature will be invisible to tablet users. But it makes a big difference to people who have a screen bigger than 1400 pixels. Many desktop users have Full HD, which is 1920 px wide. The bigger container gives people with bigger screen better usability without sacrificing usage on the small screen.

[2016-06-08 06:50] VillageHubertChen commented on #140
Update from Lukas: The larger container is finished. But before pushing he will add a feature that the Article can not become too wide. So I guess by tomorrow morning you can test it out will all related three issues completed.

[2016-06-08 06:52] VillageHubertChen commented on #136
Looking forward to it. Closed issue for now.

[2016-06-08 06:52] #136 closed, assigned to bcaswelch

[2016-06-08 07:16] LukasChen commented on #140
The big container is ready for review.
Look at this link: http://localhost:8080/plan/system/solving-problems/

[2016-06-08 07:19] LukasChen commented on #140
@bcaswelch The big container is ready for review.
Look at this link: https://v-squared.github.io/plan/system/solving-problems/

[2016-06-08 07:59] VillageHubertChen opened #141 "Epic > 015 > Parent: Compile Manual > Writing Articles"
- [x] Create Workflow Compiling Know How
- [x] Find the spot where to publish → #82
- [x] Create Linked List of Articles
- [ ] Keep writing know how in here, until we are ready to publish
- [ ] Move this Article Series to its final resting place:
  -  V²►Plan►Flow►Articles►Task-Template
- [ ] Rework existing tasks to update links to new location of documentation
# Workflow Compiling Know How
- Eac

[2016-06-08 08:14] bcaswelch commented on #137
Yes I can tick the boxes

[2016-06-08 08:26] VillageHubertChen commented on #141
# Linking Issues to Articles

[2016-06-08 08:26] VillageHubertChen commented on #141
# Styling Tables

[2016-06-08 08:26] VillageHubertChen commented on #141
# Creating a Table of Contents
- [ ] LC: Turn on Automatic Table of Contents in the Article → [V²►DIY►CPU](https://v-squared.github.io/diy/parts/cpu/)
- [ ] LC: Document in here all steps on how to do just that

# Reference
- → [kramdown►Automatic “Table of Contents” Generation](http://kramdown.gettalong.org/converter/html.html#toc)
- → [stackoverflow►Customize ToC in Jekyll](http://stackoverflow.

[2016-06-08 08:26] VillageHubertChen commented on #141
# Cleaning Up Kramdown Code
- [x] Add lines between headings
- [x] Add lines in front of code blocks, such as tables
- [ ] Change URL in tables to use _Referenced Links_

# Difference between Kramdown and GitHub Markdown

## Reference

# Rules to make both Markdown Dialects Happy

[2016-06-08 08:26] VillageHubertChen commented on #141
# Understanding Readiness Bar

At this point (and for

# Setting Readiness Bar

## Location

## Purpose

## Logic

## Tooltips

# States of Readiness Bar

## Scheduled

## Create-Active

## Create-Complete

## Develop-Active

## Develop-Complete

## Beta-Active

if you will actively pull in editor's comments

## Beta-Passive

Keep the Article published in this state for some time to see any commen

[2016-06-08 08:26] VillageHubertChen commented on #141
# Text Includes for Redundant Text

[2016-06-08 08:53] VillageHubertChen commented on #141
# Using Referenced URL

[2016-06-08 08:59] VillageHubertChen commented on #141
# Create Article Issue

# Workflow
1. Get Mating Issue Name
   - Open Article
   - Press Clipboard 1 Icon to copy the Article Path
2. Create Issue
   - Open → [V²►V-Squared.github.io►Issues](https://github.com/V-Squared/V-Squared.github.io/issues)
   - Create New Issue
   - Paste Article Path in Issue Title
   - Paste Issue Template in "Leave a comment"
3. Classify Issue
   - Set Labels
   - Set M

[2016-06-08 10:01] VillageHubertChen commented on #141
# Link Article to Issue in Reference

[2016-06-08 10:19] VillageHubertChen commented on #141
# Restructure Article

[2016-06-08 10:21] VillageHubertChen commented on #141
# Add Permalinks

[2016-06-08 10:23] VillageHubertChen commented on #141
# Add Visual Placeholders
- [ ] **Visual Placeholders**
  - [ ] Add text placeholder for graphics using _Code Block_
  - [ ] or find suitable placeholder graphics on the internet and edit to size: 853 x 480 px

[2016-06-08 10:27] VillageHubertChen commented on #141
# Article Review
- [ ] Trigger TC for Develop Review
- [ ] TC: Develop Review
- [ ] BC: Include Feedback Develop Review
- [ ] Set Readiness to _Active Beta_

# Preflight Checklist

[2016-06-08 10:31] VillageHubertChen commented on #141
# Set Title, Subtitle & Abstract

[2016-06-08 10:33] VillageHubertChen commented on #141
# Insert DIY Article Issue Template

[2016-06-08 11:39] LukasChen commented on #140
@VillageHubertChen  Please Review

[2016-06-08 11:39] LukasChen commented on #110
@VillageHubertChen Please Review

[2016-06-08 13:46] VillageHubertChen commented on #140
# Bug Report
- [x] Tooltips to Readiness-Bar are broken
- [x] Create collapse button in style of readiness step, place same way as readiness-bar
  - ask me to make a drawing the moment when you are implementing this one

[2016-06-08 13:47] VillageHubertChen commented on #110
# Bug Report

→ https://github.com/V-Squared/V-Squared.github.io/issues/140#issuecomment-224593423

[2016-06-08 14:47] VillageHubertChen commented on #137
@bcaswelch Great! Thanks for letting me know.

I realized that I can combine workflow, task list and documentation in a simple yet powerful way. Please see above the Task List as a prototype. Once this workflow / to do list is completed the instructions on how to do a task are only one click away. And once you remember how to do things the instructions are always out of the way.

This was too much

[2016-06-09 00:53] VillageHubertChen commented on #137
@bcaswelch I changed assignments, as your work is finished for now and I am working full time on the Task-Workflow-Docu Hybrid on this one.

[2016-06-09 01:08] VillageHubertChen opened #142 "Bug►Breadcrumb Broken Across Site 2016W23"
# How it shows

On all pages the bread crumbs read: "V² > Plan"
# Additional Information

Was working before moving V²Plan

[2016-06-09 01:15] VillageHubertChen opened #143 "Bug►Board Links switch to HTTP 2016W23"
# How it Shows
1. You are happily browsing V² fast (on HTTPS)
2. You change the Board (Clicking on a button in the board menu)
3. You are sad to browse V² slowly (on HTTP)

[2016-06-09 01:58] VillageHubertChen opened #144 "Make Bread Crumbs compatible to Copy & Paste"
# User Story

As a **Writer on V²** I constantly need to use the _Path_ in documentation. E.g. it is used in the name of the _Article Issue_ or it is the _Link Name_ to an _Article_ on _V²_. Before this change I needed to always type this path, which took time and my concentration. Now I simply copy copy the path. It is a very simple feature, but sure made me very happy!
# Notes

Using the _Greate

[2016-06-09 02:16] VillageHubertChen opened #145 "Bug►Tooltips to Readiness-Bar Broken 2016W23"
# How it shows

Hover over progress segment of Readiness-Bar and you get no _Tooltip_ no more.

[2016-06-09 02:32] VillageHubertChen commented on #110
# Introducing the _Status-Bar_

## What is in it

Listed in the order from left to right:
1. Toggle Article-Bar Icon Set
2. Clipboard 1 Icon (Copies Article Path to Clipboard)
3. Clipboard 2 Icon (Create a markdown link to Article and copies it to Clipboard)
4. Readiness-Bar
5. License Icon (we are not using it yet, but it is coming)
6. Help Icon
7. FAB (Floating Action Button)
8. Toggle Contents-

[2016-06-09 04:12] #142 closed, assigned to LukasChen

[2016-06-09 06:17] bcaswelch commented on #142
R&U

[2016-06-09 07:14] bcaswelch commented on #110
Like it, lots of sites use collapsible menus. Looking forward to seeing how it looks.

[2016-06-09 07:23] bcaswelch commented on #144
Simple is better!

[2016-06-09 17:50] bcaswelch commented on #140
Looks great, I'll keep an eye on the bugs reported.

[2016-06-09 17:51] bcaswelch commented on #139
Looks good, I'll work on adding more writing to the article.

[2016-06-09 17:52] bcaswelch commented on #132
Will update these soon. The other 2 parts should be arriving any day.

[2016-06-09 17:54] bcaswelch commented on #127
Hmm, how much can facebook transfer? Maybe if theres an easy way to break up the video into multiple segments

[2016-06-09 17:55] bcaswelch commented on #129
Went well!

[2016-06-09 17:55] bcaswelch commented on #135
Working on it

[2016-06-09 17:55] bcaswelch commented on #134
R&U

[2016-06-09 18:02] bcaswelch commented on #131
Yep, these all look fitting for the first shipment. Will give lots to test out.

[2016-06-10 01:27] VillageHubertChen commented on #131
@bcaswelch To speed up communication and to increase clarity: On top of your comment, please also tick the corresponding check box in the first comment. When doing so you will see it is adjacent to the task to paste the address. Please do that to then I can remove the gating label :-)

[2016-06-10 01:32] VillageHubertChen commented on #135
Thank you. Please have a presentable version ready by 10 pm your time so I can prepare to use it for my conference call with Georg. Once you post that version, please advice if you are still working on it. If not, I will also start editing it when preparing for my meeting with Georg.

[2016-06-10 01:37] VillageHubertChen commented on #129
Thank you for the feedback. It will be great if you can give feedback each time, including things we can improve.

[2016-06-10 01:38] VillageHubertChen commented on #127
Facebook is blocked too. All social media are blocked. My search engine is blocked. We are trying to find time this week end to get VPN working again. But it looks very time consuming and unclear if it will work. Please note that if we have a conversation where every reply takes 3 days things will move very slowly. I will answer every day all my notifications in the morning, which is your evening.

[2016-06-10 01:53] VillageHubertChen commented on #139
@bcaswelch Thanks. I wish you smooth writing. I will finish the project of Epic►015►Parent: Compile Know How►Writing Articles #141 first and when done will create all Article Issues and equip them with the new Task List and trigger you to set the check box ticks accordingly. This will be your (very fast and efficient) handover to you for my reviewing your writing.

[2016-06-10 01:55] VillageHubertChen commented on #140
@bcaswelch We shall finish today. Note the related bug and feature issues. By the end of our day there should be a marked improvement in usability. Especially creating Article issues will become much easier :-)

[2016-06-10 02:00] VillageHubertChen commented on #110
@bcaswelch We plan to finish all features today if nothing goes wrong. We will show a demo in today's Stand Up Meeting.

[2016-06-10 02:00] VillageHubertChen commented on #144
@bcaswelch Possible Interpretations:
1. Your solution is much simpler and better than what we have now. This it is good.
2. Your solution is too complicated and needs to be simpler. This is bad.

Which one is it?

P.S. Latest implementation is to have a Status Bar with a "Copy Path to Clipboard" Icon → https://github.com/V-Squared/V-Squared.github.io/issues/110#issuecomment-224785839

[2016-06-10 02:02] VillageHubertChen commented on #142
Thanks for leaving the "R&U" comment. I will much, much appreciate if you can leave any kind of comment to each issue with notification. Then I know you got the message. Things like "R&U" or "Agreed" of "Closed" or similar will end the conversation.

[2016-06-10 04:40] VillageHubertChen opened #146 "Surge Protection Approval"
- [ ] HC: Write about:
  - Situation in China
  - What Safety measures we have in place
  - Real Transparency and Real Safety over Fake Approvals
  - Legal Situation
  - Suggested Placement of Information
- [ ] HC: Delegate legal double checking to KC
- [ ] HC: When done trigger BC for checking. Particularly how we express this in the product pages, or to delegate to him to create the writing in t

[2016-06-10 07:14] VillageHubertChen opened #147 "Epic > 016 > Parent: Developing V²Flow"
# Tasks
- [x] Find GitHub Flow Help Page → https://guides.github.com/introduction/flow/  ← Great Read!
- [ ] Read (Write first) → My experience GitHub Flow versus others → Define: Making contribution easy for anyone! #149 (Link to here once the writing is done)
- [ ] Create V²Flow in V²Plan
  - [ ] Possibly move V²Art into V²Plan > V²Flow > V²Art, as it is mostly workflow information
  - [ ] Creat

[2016-06-10 11:09] VillageHubertChen commented on #110
# Review Result / To Do List

(by Georg via Skype Conference)

## General Feedback
- Looks very nice
- Good functionality
- Tooltips are very clear
- Idea of V²Flow works

# To Do
- [x] Clipboard Buttons do not work in Firefox
- [x] Help text within FAB Menu missing
- [x] Clicking on the License Button opens the same page as in Tooltip in a new tab
- [x] Store user preferences for _Show Article-Ba

[2016-06-10 13:54] VillageHubertChen opened #148 "Bug: Markdown in Abstract in Article is not rendered 2016W23"
# How the Problem Shows

The abstract in this article → [V² > Plan > System > Solving Problems](https://v-squared.github.io/plan/system/solving-problems/) shows asterisks enveloping words rather than render the words italic.

[2016-06-10 14:34] VillageHubertChen opened #149 "Define: Making contribution easy for anyone!"
# Tasks
- [x] Spell out definition for: V²Site is a GUI for Developing on GitHub
- [x] Find GitHub Flow Help Page → https://guides.github.com/introduction/flow/  ← Great Read!
- [x] Review with BC and TC
- [ ] HC: Write my experience GitHub Flow versus others (Write as separate comment)
- [ ] Link this to the Introduction of V²Home Page. Make this a feature in the feature section.
- [ ] Spell out

[2016-06-10 15:12] VillageHubertChen opened #150 "Bug: Issues missing in Milestones 2016W23"
# How Problem Shows

When creating a statistic of our progress I found that adding all issues up in milestone the number reached 110 versus we have 150 Issues.
# What caused the Problem

Many issues have no Milestone
# Fixing the Problem
1. Search in Issue Search field:
   1. is:issue is:open no:milestone
   2. is:issue is:closed no:milestone
2. Open each issue and assign milestone

[2016-06-10 16:21] VillageHubertChen commented on #97
# Add Campaign Progress

![progress-milestones](https://cloud.githubusercontent.com/assets/7278716/15971227/b75cfed4-2f6a-11e6-827b-dfeb1e688762.png)

[2016-06-10 23:49] tcaswelch commented on #131
1084 Aubrey Springs Ave.
Henderson, NV  89014-6817

[2016-06-11 00:21] bcaswelch commented on #97
Looks great! Love the status bars. Will make things much clearer :)

[2016-06-11 00:21] bcaswelch commented on #150
Okay

[2016-06-11 00:23] bcaswelch commented on #149
Will keep an eye on it

[2016-06-11 00:25] bcaswelch commented on #148
R&U

[2016-06-11 00:26] bcaswelch commented on #110
Changes look good, like how they are implemented.

[2016-06-11 00:26] bcaswelch commented on #146
Keep me posted.

[2016-06-11 00:27] bcaswelch commented on #142
Sounds good.

[2016-06-11 00:27] bcaswelch commented on #144
number 1.

[2016-06-11 00:28] bcaswelch commented on #139
Okay

[2016-06-11 00:34] bcaswelch commented on #127
Alright, not really sure what other alternatives there are that wouldn't be blocked.. those are all the ones I use.

[2016-06-11 00:34] bcaswelch commented on #129
Sounds good.

[2016-06-11 00:37] bcaswelch commented on #130
R&U

[2016-06-11 00:37] bcaswelch commented on #116
All ticks are checked.

[2016-06-11 00:37] bcaswelch commented on #128
Yep, makes sense.

[2016-06-11 00:47] bcaswelch commented on #120
Can we go through what kind of sample I should buy? Want to make you I am buying the right aluminium

Edit: disregard this comment.

[2016-06-11 03:01] VillageHubertChen commented on #120
The task itself reads:  "Buy sample material: 1.5 ... 3 mm strong sheet aluminum. Sand blasted, anodized black."

This is pretty much all spec you need. Should be available in shops that sell sheet materials or on ebay. It is also possible places like _Home Depot_ have this

**Note:** In the top right of a comment there is a cross. When clicking you will be asked if you want to delete the comment.

[2016-06-11 03:06] VillageHubertChen commented on #127
Thanks for the reply. Not what I wanted to hear. I spend an hour research on how to set up VPN after May 2016 only to find that it will be difficult, time consuming and no guarantees on success. I am guess it will take me at least a day full time. I will do this once I was able to manage the scrum board in a way everybody is busy and not waiting for me.

[2016-06-11 03:11] VillageHubertChen commented on #144
Thank. Noted. It is still not working though. Programming troubles ...

[2016-06-11 03:13] VillageHubertChen commented on #146
Will do. Added corresponding task at bottom of task list. Please check.

[2016-06-11 03:16] VillageHubertChen commented on #110
Thanks. I passed it on to Lukas. He very cares to build a site people likes. Comments like these make him very happy :-)

[2016-06-11 03:19] VillageHubertChen commented on #148
@bcaswelch Thanks for diligently answering all comments. Very appreciated. The same time I want to make sure your ears are not ringing with all the traffic going on. This issue was created by me and assigned to Lukas. You were not meant to be bothered. Did you find this issue by chance or did you got a notification? If you got a notification, any changes we can do so you:

Only get notified:
1. If

[2016-06-11 03:28] VillageHubertChen commented on #149
@bcaswelch Hi, actually nice you have an eye on this one. I will talk to you in the daily meeting :-)

[2016-06-11 03:29] VillageHubertChen commented on #150
All Issues assigned to Milestones

[2016-06-11 03:29] #150 closed, assigned to VillageHubertChen

[2016-06-11 03:30] VillageHubertChen commented on #97
Wow. You put a smile on my face. :-)  I worked on it last night. Very tedious job. I am glad you noticed and likes it. It is part of my effort to make V²Plan very easy to understand. If you have any ideas to this end, please post them in the comment :-)

[2016-06-11 03:32] VillageHubertChen commented on #131
@ Tom, sorry to ask so stupid question. It has been a while I lived in the states. Is the full address:

Tom Caswelch
1084 Aubrey Springs Ave.
Henderson, NV 89014-6817
USA

Or do you have different formatting?

[2016-06-11 12:59] #145 closed, assigned to LukasChen

[2016-06-11 12:59] LukasChen commented on #143
DONE :tada:

[2016-06-11 12:59] #143 closed, assigned to LukasChen

[2016-06-11 13:31] #148 closed, assigned to LukasChen

[2016-06-11 14:30] LukasChen commented on #144
@VillageHubertChen Please review.

Also note that I cannot remove the last greater sign because for some reason the liquid have only remove_first filter and no remove_last

[2016-06-11 22:33] tcaswelch commented on #132
[HD_Plex_80W-AC-DC-SideView.pdf](https://github.com/V-Squared/V-Squared.github.io/files/310542/HD_Plex_80W-AC-DC-SideView.pdf)
[HD_Plex_80W-AC-DC-TopView.pdf](https://github.com/V-Squared/V-Squared.github.io/files/310543/HD_Plex_80W-AC-DC-TopView.pdf)
Finally got digital calipers functioning.

[2016-06-11 22:49] bcaswelch commented on #148
Yeah this appeared in a notification. I'll only answer to the ones I get a mention in, will make things simplier. I'll ready through all of my notifications still to stay up to date, just won't reply to all of them.

[2016-06-11 22:50] bcaswelch commented on #131
Yes, this is the right formatting.

[2016-06-11 22:52] bcaswelch commented on #97
Definitely will. Using as many visual cues will not only make it look less like an engineering document but make ti easier for people to read and comprehend. I'll be thinking of other ways to possibly update other efforts.

[2016-06-11 22:54] bcaswelch commented on #127
is Microsoft OneDrive enabled in China? This is another possibility to transfer larger files.

[2016-06-12 00:50] VillageHubertChen commented on #148
@bcaswelch That will work.

[2016-06-12 00:52] VillageHubertChen commented on #148
## Note for Debt.Docu

Markdown is now working in Subtitle and Abstract. Paragraph by empty line is not supported. But you can simulate it with <br>&nbsp;&nbsp;&nbsp;

[2016-06-12 01:24] VillageHubertChen commented on #144
@LukasChen Review:

First of all, the big problem is fixed: Now in Firefox your copy to clipboard works. Still some small problems needs fixing:
- [ ] Breadcrumbs are broken again
- [ ] Breadcrumbs suddenly have lower case words. They need to go back to upper case.
- [ ] Link to Article is not working yet
- [ ] Copy Article Path needs to produce exactly the same output as the path. That is with up

[2016-06-12 01:26] VillageHubertChen commented on #140
# Bug Report

- [ ] On Mobile screen the two collapse buttons need to be hidden

[2016-06-12 01:37] #140 closed, assigned to LukasChen

[2016-06-12 01:40] VillageHubertChen commented on #110
# Review Report
- [x] Make the $watcher work -> [Understanding How To Use $scope.$watch() With Controller-As In AngularJS](http://www.bennadel.com/blog/2852-understanding-how-to-use-scope-watch-with-controller-as-in-angularjs.htm)
- [x] Toggle Bar Buttons need to be removed < 1280 px width
- [x] Following buttons need to disappear on mobile: _Copy Article Path_ and _Link to Article_
- [x] Must wor

[2016-06-12 01:53] VillageHubertChen commented on #127
1. Is this the URL: https://onedrive.live.com/ ?
2. That one is blocked too

You have no idea on how frustrated I am. I agree that China as a country has the right to block content they deem illegal. What I do not agree is that there is no clear statement on:
1. What is illegal
2. A list of what sites are blocked.

I am wasting so much time here to only to discover the status quo. Leave alone find

[2016-06-12 02:03] VillageHubertChen commented on #97
@bcaswelch Great and thank you! I strongly feel the same. I know from experience that writing with good related visuals will reach 1000% more audience than text alone.

This is why V²Art Workflow is very high on my list. Take as example the DIY Articles. They have great content. But after we moved them from Wiki to Pages they appear so much more appealing. Next step will be to create the Illustrat

[2016-06-12 02:14] VillageHubertChen commented on #132
1. I got the measurements for one part. When can you complete the measurements for the remaining 3 parts?
2. Can you please process the imaging the following way:
   1. Open the Image in Photoshop or Gimp
   2. Overwrite the measurement with a different color, so it is clear to see which one has been checked
   3. Convert the image to 8 bit PNG, 4 bit color depth = 16 colors is sufficient
      -

[2016-06-12 02:20] VillageHubertChen commented on #143
Confirmed. Works like a charm :+1:

[2016-06-12 02:23] VillageMichaelLin commented on #132
I prefer the alternative workflow.

[2016-06-12 02:40] VillageHubertChen commented on #94
# Adding Snaps for Scrum Boards

## V-Squared

![scrum-board-v-squared](https://cloud.githubusercontent.com/assets/7278716/15988570/568b6f40-3088-11e6-8bd9-e9405bbc453f.png)

## Production

![scrum-board-production](https://cloud.githubusercontent.com/assets/7278716/15988587/1b82a2dc-3089-11e6-8d9c-10c44b94914c.png)

[2016-06-12 03:25] VillageHubertChen opened #151 "Link Styling in Abstract Missing"
# How the Problem Shows

I put a link for **Agile Sprints** into the abstract → https://v-squared.github.io/plan/dashboard/. The link is working, hover over styling is working too. But the styling of the link is missing.

[2016-06-12 03:39] #58 closed, assigned to VillageHubertChen

[2016-06-12 04:00] VillageHubertChen commented on #117
The creation of the DIY Board is complete. Creating all its articles is by far not complete. Each Article will have its own Issue to be worked on.

[2016-06-12 04:00] #117 closed, assigned to VillageHubertChen

[2016-06-12 08:03] VillageHubertChen opened #152 "Add Completion Graph to Milestone Table in Campaign"
- [x] HC: Write → User Story → below
- [x] HC: Write → Proposal on How to Implement → below
- [x] HC: Write → Table Layout → below
- [ ] LC: Brainstorm with HC on how to implement. How to make this an easy to implement feature for you.
- [ ] Implement and test. When working trigger HC for review
- [ ] HC: Review and Close
# Proposal on How to Implement
## Development Flow
- Table data as external

[2016-06-12 08:54] VillageHubertChen commented on #118
Hi Bobby,

pretty, pretty please close this issue. I am reviewing it every day! **Get this off the board!**. If you have difficulty to complete the tasks, please let me know in your comment.

[2016-06-12 09:49] VillageHubertChen commented on #54
# Grouping V²Plan System Articles
- Getting Started
  - V²Agile Workflow on GitHub
  - V²Sprint Workflow on GitHub
  - Roles & Communication
  - Testing.
- Fundamentals
  - Agile Development Primer
  - Toyota Production Primer
  - Motivation by Design
- Developing / Evaluating
  - Solving today's Problems
  - Multi Repo Management
  - Adding SCRUM to GitHub
  - Adding Dashboard to GitHu
  - Develo

[2016-06-12 09:51] VillageHubertChen opened #153 "Add Article-Group to Navigation"
# Tasks
- [x] HC: Write → Function of Article Group → below
- [x] LC: Implement by → [Grouping V²Plan System Articles](https://github.com/V-Squared/v-squared.github.io/issues/54#issuecomment-225423662), then trigger HC for testing
- [x] HC: Test
- [x] Write / update documentation → [YAML file for Book-Bar](https://github.com/V-Squared/V-Squared.github.io/issues/47#issuecomment-218051115)
# Gating

[2016-06-12 11:59] VillageHubertChen opened #154 "Bug: Stop Angular from Rerouting Hashtag"
# How the Problem Shows
- go to page → https://v-squared.github.io/plan/dashboard/
- scroll to → "You are Familiar with Agile Sprints"
- click on the link: "Weekly Sprints Overview"
  - instead of scrolling down the page it loads another page
- Many if not all links to paces on the same page will be broken
# Cause of the problem
- Angular is rerouting the #hashtag
- Lukas can not work on this issu

[2016-06-13 00:50] VillageHubertChen opened #155 "Restructure & Rename V²Agile System"
# Gated by:
- [ ] LC: Implement new structure
  - [ ] LC: [Grouping V²Plan System Articles](https://github.com/V-Squared/v-squared.github.io/issues/54#issuecomment-225423662)
  - [ ] LC: →  Add Article-Group to Navigation #153
# Tasks
- [ ] Double check article titles
- [ ] Update links to new article locations
- [ ] document how to do in →  Epic►005►Parent: Compile Know How►GitHub Template #48

[2016-06-13 01:44] VillageHubertChen opened #156 "Epic > 018 > Parent: Cowrite DIY Articles"
# Specific Tasks to this Article
- [x] BC: Create Titles and Abstract for each Book Intro Page
- [ ] HC, ML: → Epic > 018: Create Title Graphics for all DIY Books #187
- [ ] HC: → Epic > 018: Create all Book Introduction Pages #188
- [ ] LC: → Epic > 018: Automatically generate Index to DIY Books #189
- [ ] HC: Break out the Generic Tasks into independent issues
# Generic Tasks for this Board
- [

[2016-06-13 01:58] VillageHubertChen opened #157 "V² > DIY > Intro > Workstation"
# Specific Tasks
## Bar Graphs
- [x] HC, BC: Brainstorm on developing expressive bar graphs
- [x] BC: Create expressive bar graphs → GREAT JOB !
- [ ] BC: Create chapters to use the expressive bar graphs (see below)
- [ ] LC: Replace rendered bar graphs with automated bar graphs, once LC completes →  Automated / Automatic Bar Graph in Articles #173
## Update competition models and pricing
- [x] Re

[2016-06-13 02:17] VillageHubertChen commented on #157
@bcaswelch @tcaswelch

Please complete this Article First. We had a meeting on it and I spelled out the tasks already.

Bobby: Please make sure that Tom gets notifications. Check with this one. Show him how to use. Please clean up the issue: #118 in this regards. If Tom can not get or use notifications, work will be lost.

[2016-06-13 02:21] VillageHubertChen opened #158 "V² > DIY > Edit > Mac Mini Comparison"
# Reference
- [V² > DIY > Compare > Mac Mini Comparison](https://v-squared.github.io/diy/compare/mac-mini-comparison/)

[2016-06-13 02:26] VillageHubertChen opened #159 "V² > DIY > Compare > ViCase Generations"
# Specific Tasks
- [x] Copy my writing on ViCase Comparison from Stickies to this Article
- [x] Change formatting into Table
- [x] Find proper table formatting
- [x] Create Table of Contents
- [x] Trigger BC for review
- [x] Edit and upload Title Graphics
- [ ] Include BC's review
# Reference
- [V² > DIY > Compare > ViCase Generations](https://v-squared.github.io/diy/compare/vicase-generations/)

[2016-06-13 02:30] VillageHubertChen opened #160 "V² > DIY > Parts > Intro"
# Reference
- [V² > DIY > Parts > Intro](https://v-squared.github.io/diy/parts/)

[2016-06-13 02:34] VillageHubertChen opened #161 "V² > DIY > Parts > Boot Disk"
# Reference
- [V² > DIY > Parts > Boot Disk](https://v-squared.github.io/diy/parts/boot-disk/)

[2016-06-13 02:37] VillageHubertChen opened #162 "V² > DIY > Parts > Data Disks"
# Reference
- [V² > DIY > Parts > Data Disks](https://v-squared.github.io/diy/parts/data-disks/)

[2016-06-13 02:39] VillageHubertChen opened #163 "V² > DIY > Parts > Raid Disks"
# Reference
- [V² > DIY > Parts > Raid Disks](https://v-squared.github.io/diy/parts/raid-disks/)

[2016-06-13 02:40] tcaswelch commented on #132
![hdplex 160w dc](https://cloud.githubusercontent.com/assets/19661620/15995808/846a4ce0-30d5-11e6-9414-b8777e44bcaf.png)

[2016-06-13 02:42] VillageHubertChen opened #164 "V² > DIY > Parts > Motherboard"
# Reference
- [V² > DIY > Parts > Motherboard](https://v-squared.github.io/diy/parts/motherboard/)

[2016-06-13 02:52] VillageHubertChen opened #165 "V² > DIY > Parts > DRAM"
# Reference
- [V² > DIY > Parts > DRAM](https://v-squared.github.io/diy/parts/dram/)

[2016-06-13 02:55] VillageHubertChen opened #166 "V² > DIY > Parts > Operating System"
# Reference
- V² > DIY > Parts > Operating System](https://v-squared.github.io/diy/parts/operating-system/)

[2016-06-13 02:58] VillageHubertChen opened #167 "V² > DIY > Parts > Case"
# Reference
- [V² > DIY > Parts > Case](https://v-squared.github.io/diy/parts/case/)

[2016-06-13 03:01] VillageHubertChen opened #168 "V² > DIY > Parts > Accessories"
# Reference
- [V² > DIY > Parts > Accessories](https://v-squared.github.io/diy/parts/accessories/)

[2016-06-13 03:11] VillageHubertChen opened #169 "Epic > 018 > Parent: Write all Articles in Book DIY > Install"
This week you will build you DIY ViPC Workstation. Software installation is a very big part of the PC building process. When you do it you will document all steps detailed enough with screen shots, so that Tom or other can repeat the process. Or others can review the process and give suggestions on what to do better. I already have knowledgeable reviewers lined up.

Another benefit is that every t

[2016-06-13 03:23] VillageHubertChen opened #170 "Epic > 019 > Parent: Write all Articles in Book V² > DIY > QA"
This week you will build the ViPC and install its OS, update its drivers and install basic apps. Once it is done you need to test that all is working. Those testing Procedures is exactly what you will be documenting in the Articles in this Book.

Testing a PC after assembly and installation is important, so that any problems will show in the V²Shop side and not on the customer side. Test Procedure

[2016-06-13 05:45] VillageHubertChen commented on #87
# Workflow on Creating Visuals for Articles
- Create Code / Text based visual place holders
- scour internet to find place holder graphics that come close to description in text place holders
- process internet images to size / ratio and insert into article
- read article with visuals. See how it flows. Make changes to flow / visuals if needed
- create in Article Issue to do list for custom visual

[2016-06-13 05:56] VillageHubertChen commented on #132
@VillageMichaelLin
1. Transfer the dimensions of the PDF's already uploaded
2. Transfer the dimensions of the picture above
3. Create a new comment based on my comment with all your drawings
   - delete the drawings which you now have updated dimensions
   - for the drawings which dimensions you need to confirm, please place an empty table as per my example under it. All they need to do is fill in

[2016-06-13 07:08] VillageHubertChen opened #171 "Draw / Design V² Icons"
# List of Icons
- V²Flow
- V²Agile
- V²Art
- V²Template
- V²Configurator
# How to Draw
- Inkscape
- Based on Phoenix Logo
- Black on transparent Illustration that can be colored easily in CSS
- Compatible as SVG icons

[2016-06-13 07:18] VillageHubertChen opened #172 "Make V² Big Picture Slideshow work on Mobile"
- [ ] LC: Optimize so slideshow works on Tablets, portrait and hand held. Brainstorm with HC if this can not be done in 2 hours.
- [ ] HC: Shorten text so it fits into smaller tiles for mobile
- [ ] LC, HC: After slide show is working on tablet, brainstorm how to make it work on mobile?
  - Tiles are listed under each other
  - on bottom are two buttons: Previous and Next Slide. Once clicked loads

[2016-06-13 07:36] VillageHubertChen opened #173 "Automated / Automatic Bar Graph in Articles"
# Tasks
- [x] HC: Write User Story
- [ ] LC: Check if Made Mistakes uses generated graphs?
- [ ] LC: If no to above, search the internet on automated graphs in Jekyll and Markdown. I saw articles like these before
- [ ] LC: Pick 3 solutions and let HC proof read and help you to make final choice
- [ ] LC: Make a test implementation, show HC for review
- [ ] HC: Review. Once passed, write documenta

[2016-06-13 08:13] VillageHubertChen opened #174 "V² > DIY > Intro"
# Specific tasks to this Article
## Demonstrate strengths in Workstation Comparison
- Tell the story that V² DIY Workstations / ViPC compare great versus traditional Workstations.
- Use the best info-graphics from the comparison articles
- Basically Headline and Info-graphic must tell story for each of your points
- Find 3 ... 4 of the most powerful points to make
- You did this already in →  V² >

[2016-06-13 10:03] VillageHubertChen commented on #159
@bcaswelch @tcaswelch
- [ ] Please review → [V² > DIY > Compare > ViCase Generations](https://v-squared.github.io/diy/compare/vicase-generations/)
- [ ] Fix my German Capitalism directly in the source code
- [ ] Give me a change list

[2016-06-13 23:39] #153 closed, assigned to LukasChen

[2016-06-14 00:19] #151 closed, assigned to LukasChen

[2016-06-14 02:30] LukasChen opened #175 "Fix tooltip clipping at the right edge of browser"
The collapse right button on status bar is clipping in tablet screen.

[2016-06-14 03:02] VillageMichaelLin commented on #132
@VillageHubertChen Done

## 160W AC-DC pictures

### Top View

![160w-ac-dc-topview](https://cloud.githubusercontent.com/assets/7278716/15862445/463d961a-2d02-11e6-9641-eb8bbc096e86.png)
160W-AC-DC-TopView.png

| Drawn by V²Core | Measured by V²Shop |
| :-: | :-: |
| 150 | 147.95 |
| 131 | 132.5 |
| 52 | 51.95 |
| 33.30 | 39.80 (33.54) |
| 6 | 5.97 |
| 3.50 | 3 |
| 6 | 5.97 |
| 144 | 138 (143.03)

[2016-06-14 10:29] VillageHubertChen commented on #131
@bcaswelch @tcaswelch Check the changes we made to shipping content. If you want to make any changes you need to rush with your comment. As soon as all parts arrive we want to make the shipment this week.

[2016-06-14 10:47] VillageHubertChen commented on #132
@bcaswelch @tcaswelch In above comments we added the missing power supply templates with guessed dimensions. All you need to do now is to double check the dimensions and enter the measurements in the tables under the pictures. This should save you time over taking a picture and draw the dimensions. In case you can not edit and update the above comment due to permissions, you should be able still a

[2016-06-14 11:10] VillageHubertChen commented on #91
# GI's feedback
- Purpose and Motivation are similar. Rewrite it to be more compact.
- Georg and Sascha both felt uncomfortable I wrote about what makes motivation happen. They simply want it to magically happen but feel manipulated if we make a design effort to cause motivation.

[2016-06-14 11:17] VillageHubertChen commented on #91
# Tasks (Stage 2)
- [x] Change Contribution Page to Flow Page
- [x] Rewrite Chapter: Key Elements of V²Plan
- [x] Add Chapter: Next Campaigns
- [x] Add Chapter: V²Flow Simple and Fast Contribution
- [x] Rewrite → V²Agile is the engine of V²Plan
- [x] Add → ToC
- [x] Update links to pages with changed URL
- [x] Trigger BC & TC for Beta Text Review
- [ ] Trigger LC to → Add Amazing Visuals → below

[2016-06-14 15:04] VillageHubertChen commented on #54
# Manually Created Intro Page
- [x] Create an Overview Page from content of → - [x] Create → [Titles, Subtitles, Abstracts](#issuecomment-219599960)
- [x] Create ToC
- [x] Create Read More links
- [x] Test
- [x] Trigger BC & TC for Beta-Review
- [ ] Trigger LC to style
- [ ] Implement feedback
- [ ] Check styling

[2016-06-14 15:13] VillageHubertChen commented on #54
# Beta-Review

@bcaswelch , @tcaswelch

Please review / edit this article. The content and structure has already undergone a major edit from GI, so hopefully all what is left for you is to fix my German-English.

All feedback is welcome. After this Beta Review this Article will be set to "Make".

[2016-06-14 15:17] VillageHubertChen commented on #54
# Styling

@LukasChen

Originally we wanted you to generate this Article automatically from front matter content of each Article. But you were sick and I wanted to make progress. Can you still style this Article as in Markdown? Remember the original ideas to use cards? At this time we will not have yet title graphics available for each article. However, can you make it so that clicking on a card b

[2016-06-14 15:31] VillageHubertChen commented on #91
# Beta Text Review

@bcaswelch , @tcaswelch
- [ ] Please review the structure and flow of text and comment about it. Good or bad.
- [ ] Please edit my German English to nice English

[2016-06-14 16:03] VillageHubertChen commented on #96
# Structure Review

@bcaswelch & @tcaswelch
- [x] Please check out Title, Subtitle and Abstract. How does it make sense in context?
- [x] Please check the Article Bar. How does each item make sens in context?

[2016-06-14 16:15] VillageHubertChen commented on #97
# Text Review

@bcaswelch @tcaswelch

## Please answer within one working day

I just noticed you have not answered my above question since 3 days. This is frustrating. In this case asking questions is actually wasting my time, since I do not get a Return of Investment from it. After 3 days I have long moved over that point.

## This Text Review
- [ ] Please check all upgrades made according to →

[2016-06-14 16:22] VillageHubertChen commented on #98
# Text Review

@bcaswelch @tcaswelch
- [x] Please check all upgrades made according to → [Major Update 1](#major-update-1)
- [x] How is the flow ?
- [x] How do "Based on Campaign 1" and "Preparing for Campaign 3" work to put Campaign 2 into context of the Road Map?

[2016-06-14 16:28] VillageHubertChen commented on #95
# Text Review

@bcaswelch @tcaswelch

I have completely overhauled this Introduction to V² Road Map. I made too many changes to be efficient to list here.
- [ ] Please read the Article and give feedback on structure & flow
- [ ] If you are satisfied with structure and flow then go ahead and edit my German English to Real English.
- [ ] If you are not satisfied with the structure and flow then writ

[2016-06-15 08:06] bcaswelch commented on #157
## Single table workstation comparison

The idea is to have one single table instead of piles of tables in the page. This keeps the article shorter and gives the important info all in one area.

The idea is to half a similar looking table, but tabs within one table that switch each of the competing workstations. So the ViPC specs would stay the same but people could switch tabs between other compu

[2016-06-15 10:20] VillageHubertChen commented on #157
I am not sure it is important to make the Article shorter. If the content is interesting to the reader he will continue scrolling down. He will reach the end of an even very long Article, **if** he finds it interesting all the way.

From that perspective my approach is to increase interest. And to make it very fast to capture the ideas. This way the reader can skim through the article the first ti

[2016-06-16 09:05] georgillies commented on #91
- New Board Slogan is good
- I realy like the new V²Flow conept
- Page structure: Logical
- Key Elements comes to the point. Good intro. I like the idea to reuse the tiles from the slide show
- Next Campaigns: Make sense. Good intro to get work done.
- V²Flow Simple and Fast Contribution: OK
- V²Agile is the engine of V²Plan: Concise and complete

[2016-06-16 09:23] georgillies commented on #100
# Feedback Georg
- Abstract
  - First sentence is too long:
    - shorten: "The target and mission" to "The Mission"
    - Break into two sentences with colon after True North
  - Last sentence in the end change to: "and guides the contronitor who to get there."
- Where True North fits in
  - task lower case, end sentence with colon
  - text is great. There need to be a graphics:
    - Pyramid Gra

[2016-06-16 09:47] georgillies commented on #95
# Text Review Georg
- Jumbotron: OK
- Table of Contents: OK
- Where Road Map fits in: OK
- How Road Map Works: OK
- Compact List of Campaigns: All in all OK. I really like it.
  - Typo: Schrinking
- Detailed List of Campaigns
  - 1: Change: "via Article Issues" to "V² Flow Button"
  - 2-3: Shorten it
  - 3: Last sentence does not flow
  - 3-4: typo: onine, typo: V²Case Mini to V²Case Small
  - 5:

[2016-06-16 14:07] VillageHubertChen commented on #100
@georgillies

Thanks for the feedback. I included all except for the Info Graphics. This will take a bit of time to make. I added it in the task list in the top comment so it will not be forgotten. Great idea!

[2016-06-16 15:20] VillageHubertChen commented on #95
@georgillies

I included all your feedback. Thanks for your review!

[2016-06-16 15:22] VillageHubertChen commented on #91
@georgillies

Thanks for the review. It is a very nice feeling to pass a review with no change request :-) Good to know it is all on the right track.

[2016-06-17 01:29] VillageHubertChen commented on #175
@ Lukas
1. How you want to fix it?
2. When?

[2016-06-17 01:30] VillageHubertChen commented on #151
I love the styling. Works well for me :-)

[2016-06-17 03:03] VillageHubertChen opened #176 "V² > Plan > Flow > Writing Articles > Intro"
# Tasks
- [x] Create Issue
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [x] Add Link to Article in Reference of this Issue
- [x] Automatically generate index → #191
- [x] Trigger review
- [x] Include review feedback
- [x] set readiness to make
# Reference
- [V² > Plan > Flow > Writing Articles > Intro](https://v-squared.github.io/plan/flow/writing

[2016-06-17 03:06] VillageHubertChen opened #177 "V² > Plan > Flow > Publishing > How-To Task-Templates"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [ ] Write Article
- [ ] Add cross references
- [ ] Trigger review
- [ ] Include review feedback
# Reference
- [V² > Plan > Flow > Writing Articles > How-To Task-Templates](https://v-squared.github.io/plan/flow/writing/how-to

[2016-06-17 03:09] VillageHubertChen opened #178 "V² > Plan > Flow > Publishing > Style Guide"
# Tasks
- [x] HC: Create Issue
- [x] HC: Add Link to Article in Reference of this Issue
- [x] HC: Classify Labels, Milestone & Assignee
- [x] HC: Create Article
- [x] HC: Create Title / Subtitle / Abstract
- [x] HC: Enter Issue No in Article
- [x] HC: Find reference style guide and link to Article
- [x] HC, TC: Hand over meeting on writing style guide
- [x] TC: Write style guide
- [x] TC: Trigger

[2016-06-17 03:14] VillageHubertChen opened #179 "V² > Plan > Flow > Mechanical Design > Intro"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [x] Create a Take-Out of ViDrive CAD-CAM-CNC → `C:\Users\Mini\Pictures\Art\V²\Plan\Flow\mechanical`
- [x] automatically generate index → #191
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [x] Trigger review
- [x] Include review feedback
# Refere

[2016-06-17 03:16] VillageHubertChen opened #180 "V² > Plan > Flow > Mechanical Design > Choosing CAM Software"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [ ] Write Article
- [ ] Add cross references
- [ ] Trigger review
- [ ] Include review feedback
# Reference
- [V² > Plan > Flow > Mechanical Design > Choosing CAM Software](https:/

[2016-06-17 03:18] VillageHubertChen opened #181 "V² > Plan > Flow > Mechanical Design > Workflow CAD → CAM → CNC"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [x] Write Article
- [x] Add cross references
- [x] Trigger review
- [x] Include review feedback
# Reference
- [V² > Plan > Flow > Mechanical Design > Workflow CAD → CAM → CNC](http

[2016-06-17 03:21] VillageHubertChen opened #182 "V² > Plan > Flow > Mechanical Design > How-To Task-Templates"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [ ] Create Article
- [ ] Create Title / Subtitle / Abstract
- [ ] Enter Issue No in Article
- [ ] Write Article
- [ ] Add cross references
- [ ] Trigger review
- [ ] Include review feedback
# Reference
- [V² > Plan > Flow > Mechanical Design > How-To Task-Templates](https:/

[2016-06-17 03:49] VillageHubertChen opened #183 "V² > Plan > Flow > Intro"
# Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [x] automatically generate index cards → #189
- [x] Trigger review
- [x] Include review feedback
# Reference
- [V² > Plan > Flow > Intro](https://v-squared.github.io/plan/flow/)

[2016-06-17 07:09] VillageMichaelLin commented on #132
## 250W-DC-DC-InputPowerPCB

### Front View

![250w-dc-dc-inputpowerpcb-frontview](https://cloud.githubusercontent.com/assets/14145153/16143426/53c66376-349f-11e6-90ed-3af30de6f791.png)

250W-DC-DC-InputPowerPCB-FrontView.png

| Drawn by V²Core | Measured by V²Shop |
| :-: | :-: |
| 11.20 | 10.94 |
| 20 | 20.01 |
| 4 | 4.47 |
| 5 | 5.38 |
| 32 | 31.55 |

### Side View

![250w-dc-dc-inputpowerpcb-s

[2016-06-17 17:35] bcaswelch commented on #162
## Add PCIe disks?

Currently this article just has SATA and SSD drives. Do we want to have PCIe disks in it as well?

[2016-06-17 17:46] bcaswelch commented on #132
Tracking updated today: scheduled to be delivered this afternoon. Will update for 250w dimensions.

[2016-06-17 17:51] bcaswelch commented on #96
Looks good, I would add a smaller timeline to the road map. People want to know whats going to happen in the near future, consumers aren't very happy looking far into the future.

[2016-06-18 01:45] bcaswelch commented on #131
This all works

[2016-06-18 03:54] VillageHubertChen commented on #132
Thanks for the update! Please post a short note once done, so I can check if we have any other questions. Production is gated by these numbers and I want to make sure Michael can start on these first thing Monday morning.

[2016-06-18 03:59] VillageHubertChen commented on #132
@VillageMichaelLin HDPLEX shipped the small type. Please change drawing accordingly. Bobby said they received the shipment. If by Monday morning you still do not see the updated dimensions, please let me know ASAP so I can trigger Bobby to deliver updated dimensions ASAP.

[2016-06-18 04:01] bcaswelch commented on #132
Note- Some of the dimensions are inconsistent; the length on the right side may be a bit different from the length on the left side. Something to factor in and could be problematic.

[2016-06-18 04:02] VillageHubertChen commented on #131
@bcaswelch Thanks for the reply.

@VillageMichaelLin Please prepare the shipment. Let me see the content before final packaging. Lets make packaging together to make sure it will arrive safely. Work with Xiao Mao for using best shipping forwarder rate. Once done, post comment once shipped. Once we have the tracking number, post the tracking information in here too.

[2016-06-18 05:29] VillageHubertChen commented on #132
We can see the dimensions you measured and we will factor this in. If there is a concern in terms of dimensions that is not expressed with the measurements you made and posted in the tables above, then please spell it out in your comment.

[2016-06-18 05:32] bcaswelch commented on #132
Were using a digital scale and these are the closest well get to the dimensions of what we have; the question is whether every single piece is going to be the same. So long that the design has some minor breathing room it should be fine.

[2016-06-18 05:35] VillageHubertChen commented on #132
We are leaving several mm breathing room to the outside dimensions. The mounting holes need to be the same with tolerances of +/- 0.1 mm. But this would be a commonly agreed standard, as otherwise mounting holes would not work for the purpose of mounting. As such I think all is in the deep green ( as in very safe).

[2016-06-18 05:35] bcaswelch commented on #132
okay, good to hear

[2016-06-18 05:36] VillageHubertChen commented on #132
Did you now updated all dimension for all parts? Please confirm. If so your job is done here and we will take over from here. Thanks so much!

[2016-06-18 05:36] bcaswelch commented on #132
Not quite yet, still have a couple to update. Going to do that now.

[2016-06-18 05:39] VillageHubertChen commented on #132
OK. We will have our lunch now. When done, please ping on skype so I can check.

[2016-06-19 01:35] VillageHubertChen commented on #96
@bcaswelch Thank you. Added Next 3 Months.

[2016-06-19 01:56] VillageHubertChen commented on #162
@bcaswelch

This is a good question. M2 NVME disks right now are about 300% more expensive than SATA3 disks. The motherboard has one M2 slot. However, you can buy PCIe Add In cards that either provide M2 slots or that are NVME disks. That said, it occupies the PCIe slot we have for GPU. Applications for this would be data base server. However, this field is a very small niche market and requires l

[2016-06-19 02:39] VillageHubertChen opened #184 "Bug: Off Canvas Menu does not support Article Groups"
# How the Problem shows

When using Off Canvas Navigation for → [V² > Plan > Flow]((https://v-squared.github.io/plan/flow/) the Off Canvas Navigation is only listing Article Groups but not Articles.

[2016-06-19 07:44] VillageHubertChen commented on #98
# Text Review

@georgillies
- [x] Please check all upgrades made according to → [Major Update 1](#major-update-1)
- [x] How is the flow ?
- [x] How do "Based on Campaign 1" and "Preparing for Campaign 3" work to put Campaign 2 into context of the Road Map?

[2016-06-19 07:44] VillageHubertChen commented on #97
# Text Review

@georgillies

## This Text Review
- [x] Please check all upgrades made according to → [Major Update 2](#major-update-2)
- [x] How is the flow
- [x] How does → "Where Campaign fits in" work. Does it help you to understand where you are on each page?

[2016-06-19 07:49] VillageHubertChen commented on #54
# Beta-Review

@georgillies
Please review / edit this article.
1. Does the sum of abstracts cover all ground you would want to see covered?
2. How is the grouping of the articles?
3. How is the order of the articles?
4. Is each abstract in on itself self explanatory?
5. How is the flow of all abstracts when reading from top to bottom in one sitting?

All feedback is welcome. After this Beta Review

[2016-06-19 10:24] georgillies commented on #98
Major Update 1:

Well done. Perhaps make clear what the difference between American customers (c2.v2-Shop ... launch the _V²Shop_) and Asian/European customers (c2.ViShop.Create ... launch the _ViShop_) is.
In "Campain Progress" bottom line: "VSp_r_eading Start".

Flow: Reads well.

Context: I think this is fairly clear.

[2016-06-19 10:41] georgillies commented on #97
Major Update 2 + Flow: Good!
"Where Campaign fits in": There is still no pyramid image. Together with such a sort of illustration it would be more helpful for the "newby".But even without that it makes sense.

[2016-06-19 14:52] VillageHubertChen opened #185 "V² > Plan > Flow > Writing Articles > Adding Articles"
# Generic Tasks
- [x] Create Issue
- [x] Add Link to Article in Reference of this Issue
- [x] Classify Labels, Milestone & Assignee
- [x] Create Article
- [x] Create Title / Subtitle / Abstract
- [x] Enter Issue No in Article
- [x] Write Article
- [x] Add cross references
- [x] Trigger review
- [x] Include review feedback
# Specific Tasks
# Reference
- [V² > Plan > Flow > Writing Articles > Adding

[2016-06-19 16:38] #185 closed, assigned to VillageHubertChen

[2016-06-19 23:42] VillageHubertChen commented on #97
@georgillies

Thanks for the review. The pyramid image is scheduled and will be coming. It will be just a bit until I can get to it.

[2016-06-19 23:51] VillageHubertChen commented on #98
@georgillies Thanks for the review. I included your changes.

[2016-06-20 04:00] VillageMichaelLin commented on #132
@bcaswelch Thanks for the update! I have three questions:
- [x] 1.In the top view picture of 160W AC-DC powersupply, Two measurements from you: 39.80 and 138 are about 6 mm different from the spec of HD-Plex. The spec of HD-Plex are 33.30 and 144. Can you double check these two measurements?
- [x] 2. In the side view picture of 160W DC-DC powersupply, the table is empty.Do you have any problem  fo

[2016-06-20 06:38] bcaswelch commented on #132
@VillageMichaelLin

Updated the tables. Thanks for catching the errors in number one, not sure how I didn't see those. The right number is in the ( ).

![img_20160619_233441903](https://cloud.githubusercontent.com/assets/16950279/16185186/d9e2a77a-3676-11e6-946c-d53173dc9ffa.jpg)

This is a top side view of the 160w AC-DC, just wanted to let you know that the screw mounts are open and not closed.

[2016-06-20 23:17] bcaswelch commented on #162
@VillageHubertChen

Okay, good points. I think that having the NVME for the golden sample will be a great showcase of performance but there will only be a limited number of people actually using them. I'll keep updating the article.

[2016-06-20 23:17] bcaswelch commented on #96
@VillageHubertChen

Great!

[2016-06-22 01:44] VillageHubertChen commented on #162
@bcaswelch

For the show case ViPC we will have the M2 NVME (mounted in slot in motherboard) and a PCIe GPU in the PCe slot.

[2016-06-22 02:09] VillageHubertChen commented on #132
@bcaswelch Thanks for the update. Michael has included all changes. He is posting today all reworked final drawings for you to double check.

[2016-06-22 02:34] VillageHubertChen opened #186 "Epic > 020 > Parent: New Splash Screen of www.villagetronic.com"
# Problem

The splash screen on http://www.villagetronic.com is still promoting the old Indiegogo campaign.
# Proposal for text for new screen
## Title: Everything New
### New ViPC

We are developing a high end portable Workstation PC, ready for order in summer this year. Based on second generation ViCase. Key features:
- The first Open Modular Mini PC Workstation
- Small & portable Mini PC design

[2016-06-22 03:24] VillageHubertChen commented on #186
# New Image Proposal

![vicase-minipc-display-realview](https://cloud.githubusercontent.com/assets/7278716/16253777/f1abc8a4-386b-11e6-9fdd-bfafdf7f506e.jpg)

[2016-06-22 03:32] VillageMichaelLin commented on #132
@bcaswelch Here is the latest drawings. Please double check them, Thank you

## 80W-AC-DC

### Top View

![80w-ac-dc-topview-v2](https://cloud.githubusercontent.com/assets/14145153/16253755/c978906a-386b-11e6-9d01-8371f7ee535a.png)

### Side View

![80w-ac-dc-sideview-v2](https://cloud.githubusercontent.com/assets/14145153/16253782/fc5174c0-386b-11e6-911e-f4930ad77e89.png)

## 160W-AC-DC

### Top

[2016-06-22 04:16] bcaswelch commented on #186
# Problem

The splash screen on http://www.villagetronic.com is still promoting the old Indiegogo campaign.

# Proposal for text for new screen

## Title: Everything New

### New ViPC

We are developing a high end portable Workstation PC, ready for order in summer this year. Based on second generation ViCase. Key features:
- The first Open Modular Mini PC Workstation
- Small & portable Mini PC des

[2016-06-22 04:37] bcaswelch commented on #132
@VillageMichaelLin

PIctures all appear to be in order!

[2016-06-22 04:59] VillageHubertChen commented on #132
@bcaswelch Thank you for the quick response. I just found there was a big misunderstanding between Michael and me. Our drawing should represent the *_Standard_ Dimensions. Your measurements represent verification measurement demonstrating production tolerances, which should be in the range of +/- 0.1 mm. Michael will have to redo the drawings and check that all you measurements are within these to

[2016-06-23 01:18] VillageHubertChen commented on #186
# Final Image

![vicase-minipc-display](https://cloud.githubusercontent.com/assets/7278716/16288935/55bde9c8-3923-11e6-8efa-52b2f772d223.jpg)

**Note:** Path on internal server: `\\MINI-PC\Users\Mini\Documents\Marketing\ViCase-ViPC`

[2016-06-23 07:21] VillageHubertChen commented on #110
# Technical Debt

Currently LC can not find a way to provide functionality for the collapse side bar icon to change depending on the state is-collapsed or is-visible. To close this issue for now we remove this feature. That is the same icon is shown no matter of the side bar is collapsed or visible. We still keep the feature to hide this icon if its function is not available.

[2016-06-23 09:43] VillageHubertChen commented on #186
# Idea for screen shot from Georg:

3D App that shows the wire frame and the photo realistic rendering on one screen shot. Appealing to CAD engineers and designers.

[2016-06-23 12:31] #110 closed, assigned to LukasChen

[2016-06-23 13:02] VillageHubertChen commented on #100
# Feedback by George (Skype Call)
- forgotten V² Standards in Principles
- Change order to: V² Mission, V² Benefits, Life after V², V² Principles as per order of interest of most readers
- rewrite abstract accordingly

All changes have been implemented

[2016-06-23 13:04] VillageHubertChen commented on #100
# Feedback by Sascha
- succinct
- well to the point
- good structure

It may be noted that he smashed previous attempts :-)

[2016-06-23 19:58] bcaswelch commented on #157
![workstationgraph](https://cloud.githubusercontent.com/assets/16950279/16318048/1a881440-3942-11e6-9660-f5e78d60d0e7.png)

![workstationcomparison2](https://cloud.githubusercontent.com/assets/16950279/16318055/23b4897c-3942-11e6-97ff-ebf0e0983634.jpg)

[2016-06-23 23:32] bcaswelch commented on #157
![workstationimages3](https://cloud.githubusercontent.com/assets/16950279/16323492/0a93acf2-3960-11e6-9c70-d3b707ad490f.png)

[2016-06-24 01:10] bcaswelch commented on #157
Hmm these take up a ton of space.. Any tips on shrinking them?

![dellconfig](https://cloud.githubusercontent.com/assets/16950279/16324912/ba4c6050-396d-11e6-937c-ded51b253e34.png)
![hpg3specguide](https://cloud.githubusercontent.com/assets/16950279/16324913/ba4d0532-396d-11e6-99d3-b0182ed3d936.png)
![hpz240config](https://cloud.githubusercontent.com/assets/16950279/16324914/ba4dc198-396d-11e6-8e9

[2016-06-24 01:24] VillageHubertChen commented on #157
# Discussion on shrinking arm long Config Snaps

@bcaswelch

## Idea 1: Accordion

Under each workstation is a horizontal accordion menu. Folded is says: Configuration of xyz workstation. Unfolded it keeps the title, but it shows the entire snapshot. This works best to keep each reference close to each workstation occurrence.

## Idea 2: Reference Tabs
- **Name of Tabs:** "Configuration Snaps", "H

[2016-06-24 01:41] VillageHubertChen opened #187 "Epic > 018: Create Title Graphics for all DIY Books"
# Gated

We first want to start using the image ML already created in V²Plan. Once we have experience using them and possible make a list of enhancements for the next lot, we will render this series.
# Tasks
- [x] BC, HC: Create initial description for Title Graphics of each Book → comment
- [ ] HC: Fine tune → Descriptions of Book Title Graphics
- [ ] ML: Render Images
- [ ] HC: Process and Uploa

[2016-06-24 01:44] VillageHubertChen commented on #187
# Descriptions  of Book Title Graphics

DIY PC: Vector Graphics of ViPC

Configs: Phoenix Logo with Screw Driver

Optimize: Circle of arrows

Cooling: Top of side view of cooling fan

Assemble: Explosion drawin of ViPC assembly

AIO: AIO PC with keyboard and mouse

Install: Arrow download icon to ViCase PC

Fixing: Screw driver to ViCase

QA: Phoenix with Magnifier glass on ViCase

Parts: Phoenix

[2016-06-24 01:54] VillageHubertChen opened #188 "Epic > 018: Create all Book Introduction Pages"
# Tasks
- [ ] HC: Edit Titles and Abstracts for each Book Intro Page and add Sub Titles
- [ ] HC: Transfer Titles, Subtitles and Abstracts to each Book Intro Article
- [ ] HC: Make sure each Title also says: "Book Introduction"
- [ ] HC: Make sure each article has a cross linked article issue
- [ ] HC: Add the Title Graphics from → #187

[2016-06-24 02:20] VillageHubertChen opened #189 "Epic > 018: Automatically generate Index to DIY Books"
# Tasks
- [x] HC: Write Card Design, User Stories, specs to Lukas →  Epic > 021 > Parent: Automatically
- [ ] LC: Implement, then trigger HC for testing
- [ ] HC: Test Implementation
# Reference
- Page to generate Index → [Index of V² DIY Workstation Books](https://v-squared.github.io/diy/)
- →  Epic > 021 > Parent: Automatically generate all Index Pages #191

[2016-06-24 03:00] VillageHubertChen opened #190 "V² > DIY > Configs"
# Tasks
- [HC] Create Page
- [BC] Copy Article from Wiki
- [HC] Add empty lines after headings
- [HC] Create Table of Contents
- [HC] Create Article Issue
- [HC] Cross Link Article Issue to Article
# Reference
- → [V² > DIY > Configs](https://v-squared.github.io/diy/configs/)

[2016-06-24 03:03] bcaswelch commented on #157
@VillageHubertChen Idea 1 works with me, its a simple implementation and people can briefly open and close it with one click.

[2016-06-24 03:17] bcaswelch commented on #138
Image for ViCase Generations
![vicase-overview-1](https://cloud.githubusercontent.com/assets/16950279/16326887/88e78456-397f-11e6-9221-aa67d7b3a454.jpg)

[2016-06-24 03:54] bcaswelch commented on #157
![litersize](https://cloud.githubusercontent.com/assets/16950279/16327515/a6561f48-3984-11e6-802a-33b1d8b2c26d.png)
![pricecomparisonvipc](https://cloud.githubusercontent.com/assets/16950279/16327516/a6569022-3984-11e6-8330-97e1c22e4f35.png)

[2016-06-24 07:01] VillageHubertChen commented on #138
@bcaswelch

Thanks. Good idea. It is not a perfect match but better than nothing. This image did not had enough resolution. I found the latest counter part. Sadly no coke bottle. We will make all new Title Images 3:1 aspect ratio. Since our default size is 480p = 853 x 480, the new size is: 853 x 284. Weird size. Here goes:

![vicase-three-sizes-title](https://cloud.githubusercontent.com/assets/72

[2016-06-24 07:09] VillageHubertChen commented on #159
@bcaswelch @tcaswelch

Please review as per above task list. This article is in the review section since 11 days. It is cluttering the board. I uploaded a Title Image as per your suggestion. I like to close this issue after your review.

Note: Please make suggestions in the correct issue. I liked your idea in: [Image for ViCase Generations](https://github.com/V-Squared/V-Squared.github.io/issues/1

[2016-06-24 07:18] VillageHubertChen commented on #186
@bcaswelch

Please finish editing your copy of the text we will publish on the home page.

[2016-06-24 09:01] #97 closed, assigned to VillageHubertChen

[2016-06-24 10:56] #98 closed, assigned to VillageHubertChen

[2016-06-24 11:16] VillageHubertChen opened #191 "Epic > 021 > Parent: Automatically generate all Index Pages"
# Tasks
- [x] HC: Specify Card Design → below
- [x] HC: Write User Stories → below
- [x] HC: Write: → This is the first of many such automated Index Pages → below
- [x] HC: Create the four Article Group Pages of Agile
- [x] LC: Implement following User Stories and specs below, then trigger HC for testing
- [x] HC: Test Implementation
# User Stories
## Reader of V²DIY

As a **New Reader** of V² DIY

[2016-06-24 13:18] #54 closed, assigned to VillageHubertChen

[2016-06-24 13:49] #175 closed, assigned to LukasChen

[2016-06-25 00:05] bcaswelch commented on #138
@VillageHubertChen

Looks good. Also added in the ViPC features into the article and they are ready for review. Will upload the new graphs soon.

[2016-06-25 00:05] bcaswelch commented on #138
![workstationprice2](https://cloud.githubusercontent.com/assets/16950279/16353354/df3658ba-3a2d-11e6-8258-9bab7f532c21.png)

![workstationsize2](https://cloud.githubusercontent.com/assets/16950279/16353355/df3819ac-3a2d-11e6-948e-1cf4074840d2.png)

[2016-06-25 00:20] bcaswelch opened #192 "V2 > DIY > Intro > AiO Comparison"
# Generic Tasks
- [x] BC: Create Issue
- [x] BC: [Create Article](https://v-squared.github.io/plan/flow/writing/adding-articles/)
  - [x] HC: Unstuck BC on how to create article → read the text too, not only look at images
- [x] BC: Add Link to Article in Reference of this Issue
- [x] BC: Classify Labels, Milestone & Assignee
- [x] BC: Create Title / Subtitle / Abstract
- [x] BC: Enter Issue No in

[2016-06-25 01:20] bcaswelch commented on #192
@VillageHubertChen

Going to revamp the tables, make them similar to the ones from the workstation article. You can review the writing thats currently here.

[2016-06-25 01:35] bcaswelch commented on #157
![workstationpower](https://cloud.githubusercontent.com/assets/16950279/16353986/7251ea04-3a3a-11e6-9974-63c0ce74a915.png)

[2016-06-25 03:03] VillageHubertChen commented on #192
@bcaswelch

# Article Creation
- [ ] Do together: 1) HC learn how to improve so it becomes self explanatory: [Adding Articles](https://v-squared.github.io/plan/flow/writing/adding-articles/) 2) BC learns how to Add / Create an article

# Rewriting first Chapter

## Notes

### Sitting on your giant shoulders

I enjoyed reading your writing very much. I missed it. Thanks for letting me have it again

[2016-06-26 00:55] VillageHubertChen commented on #157
Great job on the comparison charts! Huge compliments from Sascha too!

[2016-06-26 02:59] VillageHubertChen opened #193 "V² > Plan > Road Map > Next 2 Years"
# Tasks
- [x] Create Article
- [x] Create Issue and link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [x] Add Milestone: "GitHub.V-Squared.Create"
- [x] Add ToC
- [x] Write Abstract (Moved into Article in this case due to better reading flow)
- [x] Set readiness to _Make_ (The content was already reviewed when it was

[2016-06-26 07:45] VillageHubertChen opened #194 "V² > Plan > Road Map > How it Works"
- [ ] Create Article
- [x] Create Issue and link Issue to Article
- [ ] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [ ] Add Front Matter
- [ ] Move content from Index
  - (it was intro, now this page serves this function after introducing Auto Index Cards)
- [ ] Add ToC to Front Matter
- [ ] Set readiness
- [ ] Trigger Structure Review GI
- [ ] Include feedback GI
- [ ] Add Title

[2016-06-26 15:55] VillageHubertChen opened #195 "V² > Plan > Intro"
# Tasks
- [x] Create Article
- [x] Link Issue to Article
- [x] Link Article to Issue
- [x] Set Labels, Milestone, Assignee
- [x] Update Article to new Front Matter
- [x] Add abstract and subtitle
- [x] Add ToC to Front Matter
- [x] Set readiness
- [x] Move writing from Index to here. (It hosted the former intro page, but now becomes the page for the automatically generated index)
- [x] ML: Render

[2016-06-27 00:32] VillageHubertChen commented on #159
@bcaswelch I am closing this issue as we need to make progress. Not to be able to get your review in 14 days using several reminders is disappointing.

[2016-06-27 00:32] #159 closed, assigned to VillageHubertChen

[2016-06-27 00:57] VillageHubertChen commented on #91
# Tasks (Stage 3)
- [x] Create new Intro Page and move content of this page to there
- [x] Rename this page to Index
- [x] Code automatic index card generation → #189
- [x] Skype review with GI
- [x] Implement GI's feedback

[2016-06-27 00:57] #91 closed, assigned to VillageHubertChen

[2016-06-27 01:32] VillageHubertChen commented on #157
@bcaswelch I completely updated the task list in the top comment. Please work it down. Ask questions when it is not clear. In the evening your time I usually answer your questions on skype within minutes..

Please be so kind to tick a task once completed. This helps you and me to keep the overview.

[2016-06-27 01:40] #181 closed, assigned to VillageHubertChen

[2016-06-27 01:42] VillageHubertChen commented on #191
@LukasChen GREAT WORK! Fast, focused, error free, inspiring. I am looking forward to see more like this :-) :+1:

[2016-06-27 01:42] #191 closed, assigned to LukasChen

[2016-06-27 01:59] #183 closed, assigned to VillageHubertChen

[2016-06-27 02:06] #179 closed, assigned to VillageHubertChen

[2016-06-27 02:10] VillageHubertChen opened #196 "V² > Plan > Flow > Mechanical Design > CNC Shop Workflow"
- Workflow with CNC Shop
  - Handover Designer → Shop
  - Handover Shop → Designer
  - Motivation of Shop
    - Learn Quality Management (TPS) to reduce cost of customer returns

[2016-06-27 02:11] VillageHubertChen opened #197 "V² > Plan > Flow > Mechanical Design > CNC Quality"
- Managing CNC Quality
  - Managing CAM Quality
  - Managing Quality CNC contractor

[2016-06-27 02:20] #176 closed, assigned to VillageHubertChen

[2016-06-27 02:33] VillageHubertChen commented on #118
@bcaswelch Please work down this list. It is simple, **it is 25 days old**. I have reminded you many times in skype calls, in comments and via special labels. On several occasions I lost time as I can not reach you nor Tom, which would be fixed if this issues is worked down. This issue is also cluttering the board and it is taking my time to constantly move it around and remind you.

[2016-06-27 02:34] VillageHubertChen commented on #120
@bcaswelch Please report progress. By now you should have: 1) Logo 2) Sample Alu, 3) Sample Laser cut. Please post pictures and answer open questions. Trigger me then in comment.

[2016-06-27 02:41] VillageHubertChen commented on #131
@VillageMichaelLin It seems this one slipped your mind. Discuss with me today where we are add. All parts should be in-house. Can you prep shipment today?

[2016-06-27 03:35] VillageHubertChen opened #198 "Sprint Kick Off"
# Targets this Sprint
- Close Campaign 1 Completely
- Close Book V² > DIY > Comparison completely
- Advanced Styling of all Workin In Progress Pages of V² > DIY
- Solve CAD-CAM-CNC workflow issues, get shop to agree to make it
  - acceptable quote, L/T and workflow
# Demos today V² Core Team:
## Michael show:
- 2 mm Panel Form
- mounting and function of Fixture to Panel form
- fixture only
- fixtu

[2016-06-27 07:03] bcaswelch commented on #192
@VillageHubertChen

Hi, could you check how the writing is so far in terms of the direction I'm going? Getting a bit of a brain fart for the last couple so I'll finish it in the morning

[2016-06-27 07:23] #109 closed, assigned to VillageHubertChen

[2016-06-27 07:49] VillageHubertChen opened #199 "Add & Clean up Index & Intro Pages in V² > DIY"
# Tasks Index & Intro Pages DIY
## Intro Page
- [ ] Create Intro Page after Index
- [ ] Move Sub Title & Title to Intro
- [ ] Body
  - [ ] Compendium to Forums
  - [ ] Promote Open Modular V² PC & All-In-One
  - [ ] Extension of V² True North
## Index Page
- [ ] Remove Subtitle and Abstract from Index
## Compare Intro
- [ ] Create Intro Page after Index
- [ ] Move Sub Title & Title & Body from Ind

[2016-06-27 08:47] VillageHubertChen opened #200 "Cell Coloring in Tables"
# Tasks
- [x] HC: Write User Story → below
- [x] HC: Write Specs → below
- [x] HC: create example table → below
- [x] HC: create Color Code
- [x] HC: create List of Styling
- [x] LC: Implement sample table and read its data. Report to HC if you can implement this syntax?
- [x] LC, HC: Come to agreement on table syntax in YML front matter
- [x] LC: Create a test page. Create the table from YML in t

[2016-06-27 13:36] VillageHubertChen commented on #192
@bcaswelch Your writing is going in the right direction. However the story and emotional component is missing. I am too tiered too to have an idea if you could rewrite what you wrote and add the story component to it, or if this need to be an extra paragraph. In any event keep writing.

When running out of ideas, continue on the Workstation Comparison.

Once you have a complete writers block, do m

[2016-06-27 21:59] bcaswelch opened #201 "Closed, because it was a redundant issue"
I moved Bobby's post to →  Luxury ViCase-Stand #126

[2016-06-28 15:00] VillageHubertChen commented on #126
# Posted from Bobby

(Moved to here as he created a redundant issue on the same topic)

# Purpose

Many high quality monitor stands let you tilt, turn, and rotate the display. Currently, the ViPC AiO has a single way a monitor can be mounted. Instead of making the stand itself more complicated, the idea is to use current market VESA swivel joints to give users the freedom to over their display

#

[2016-06-28 15:02] #201 closed, assigned to nobody

[2016-06-28 15:09] VillageHubertChen commented on #126
# Review of Bobby's research

Thank you for your research and for posting all the pictures in here. Very helpful. I took the liberty to change the link to a markdown picture like so: ![](URL). This way you can see them directly.

Sadly, all these VESA mounts have the following problems:
1. They are for permanent mount. That is e.g. for permanent mount of a display to the wall. E.g. a display in an

[2016-06-29 02:18] VillageHubertChen opened #202 "Test all CNC primitives CAD → CAM → CNC"
# Tasks
- [x] HC, ML: Write to do list
- [x] ML: Do one primitive completely, then let HC review
- [x] HC: Write change list based on review
- [x] ML: Redo first one, let HC double check
- [x] ML: Redo all others. Trigger HC it is done in comment.
- [ ] HC: Move all this into one Article
# Procedure
1. CAD
   1. Draw Primitive in SolidWorks
   2. Export to DXF and STL
2. CAM
   1. Import to CAMBAM